<!doctype html>
<html>
<head>
	<title>temptist administration</title>
	<style>
		body 		{ padding: 1em; }
	</style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
	$(function() {
	});
	</script>
</head>
<body>
<% include ../common/gtm.ejs %>
  <header>
    <a href="/logout">Logout</a>
  </header>