<% include header %>

  <table>
    <thead>
      <tr>
        <td>#</td>
        <td>email</td>
        <td>name</td>
        <td>M/F</td>
        <td>Age</td>
        <td>Verified?</td>
      </tr>
    </thead>
    <tbody>
      <% for(var ix = 0; ix < users.length; ix++) { %>
      <tr>
        <td><%= users[ix].attributes.id %></td>
        <td><%= users[ix].attributes.email %></td>
        <td><%= users[ix].attributes.name %></td>
        <td><%= users[ix].attributes.gender %></td>
        <td><%= users[ix].attributes.age_range %></td>
        <td><%= users[ix].attributes.has_verified_email %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  
<% include footer %>