<% include header %>

  <table>
    <thead>
      <tr>
        <td>#</td>
        <td>url</td>
        <td>price</td>
        <td>from</td>
        <td>to</td>
      </tr>
    </thead>
    <tbody>
      <% 
      var item_id = 0;
      for(var ix = 0; ix < listings.length; ix++) {
      	if(listings[ix].item_id != item_id) {
      		item_id = listings[ix].item_id;
      %>
      <tr>
        <td colspan="5">Item #<%= listings[ix].item_id %></td>
      </tr>
      <% } %>
      <tr>
        <td><%= listings[ix].id %></td>
        <td><%= listings[ix].url %></td>
        <td><%= listings[ix].price_cur %><%= listings[ix].price_val %></td>
        <td><%= listings[ix].valid_from %></td>
        <td><%= listings[ix].valid_to %></td>
      </tr>
      <% } %>
    </tbody>
  </table>

<% include footer %>