<div class="post-section">
	<div class="item-box">
		<p class="date">December 20, 2011</p>
		<div class="img-holder">
			<a href="#"><img src="images/img13.jpg" height="317" width="220" alt="image description"></a>
		</div>
		<div class="desc-wrap">
			<h2><a href="#">WOOL BLUE SCARF</a></h2>
			<p>Maine guide waxed-leather boots</p>
			<strong class="price"><span>£</span> <em class="priceNum">35</em></strong>
		</div>
	</div>
	<div class="item-box">
		<div class="img-holder">
			<a href="#"><img src="images/img14.jpg" height="188" width="220" alt="image description"></a>
		</div>
		<div class="desc-wrap">
			<h2><a href="#">BLACK &amp; GREEN SHIRT</a></h2>
			<p>Apple macbook pro 13", ram: 4 gb, hdd: 500 gb</p>
			<strong class="price"><span>£</span> <em class="priceNum">899</em></strong>
		</div>
	</div>
	<div class="item-box">
		<div class="img-box big">
			<div class="text-box">
				<strong class="title">OUT OF STOCK OR NO LONGER FOR SALE</strong>
				<p>Item out of stock or not for sale. Please visit retailer to find a replacement.</p>
				<a href="#" class="btn-share">REFRESH</a>
			</div>
		</div>
		<div class="desc-wrap">
			<h2><a href="#">ATM ANTHONY THOMAS MELILLO</a></h2>
			<p>Sherpa hoodie jacket</p>
			<strong class="price"><span>£</span> <em class="priceNum">785</em></strong>
		</div>
	</div>
</div>
<a href="inc/posts/post02.html" class="loader"></a>