<div class="post-section">
	<div class="item-box">
		<p class="date">January 1, 2012</p>
		<span class="favourite-box">
			<i class="icon-star"></i>
		</span>
		<div class="img-holder">
			<a href="#"><img src="images/img08.jpg" height="303" width="219" alt="image description"></a>
		</div>
		<div class="desc-wrap">
			<h2><a href="#">MOBILE HEADPHONES</a></h2>
			<p>High fidelity sound for your mobile phone</p>
			<strong class="price"><span>£</span> <em class="priceNum">1997</em></strong>
		</div>
	</div>
	<div class="item-box">
		<div class="img-holder">
			<a href="#"><img src="images/img09.jpg" height="189" width="219" alt="image description"></a>
		</div>
		<div class="desc-wrap">
			<h2><a href="#">COOL BROWN SUNGLASSES</a></h2>
			<p>Mumford and sons</p>
			<strong class="price"><span>£</span> <em class="priceNum">15</em></strong>
		</div>
	</div>
	<div class="item-box">
		<p class="date">January 1, 2012</p>
		<div class="img-holder">
			<a href="#"><img src="images/img10.jpg" height="219" width="220" alt="image description"></a>
		</div>
		<div class="desc-wrap">
			<h2><a href="#">EYEVAN 7285</a></h2>
			<p>306 round-frame acetate optical glasses</p>
			<ul class="price-alert">
				<li class="new-price">
					<span class="price"><span>£</span> <em class="priceNum">579</em></span>
				</li>
				<li>
					<span class="old-price">£ 1225</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="item-box">
		<p class="date">December 1, 2011</p>
		<div class="img-holder">
			<a href="#"><img src="images/img11.jpg" height="223" width="220" alt="image description"></a>
		</div>
		<div class="desc-wrap">
			<h2><a href="#">CARSON ANALOG DISPLAY WATCH</a></h2>
			<p>4.7 inch display, gold finish, 64gb</p>
			<ul class="price-alert">
				<li class="new-price">
					<span class="price"><span>£</span> <em class="priceNum">375</em></span>
				</li>
				<li>
					<span class="old-price">£ 700</span>
				</li>
			</ul>
		</div>
	</div>
</div>