		<div class="light-box-holder">
			<header class="heading">
				<strong class="title"><a href="#">temptist</a></strong>
				<a href="#" class="close"><i class="icon-cross"></i></a>
			</header>
			<div class="light-content">
				<h2>add an item to your temptist</h2>
				<div class="steps-block">
					<ul class="step step-list">
						<li>
							<div class="content-wrap">
								<span class="num">1</span>
								<p>Browse the internet or visit one of <a href="#" class="show-retailer">our favourite retailers</a>.</p>
							</div>
						</li>
						<li>
							<div class="content-wrap">
								<span class="num">2</span>
								<p>Find an item you want and copy - paste the url into the box below.</p>
							</div>
						</li>
					</ul>
					<div class="note-text">
						<p>temptist will grab the item's details and you will see the item appear on your Temptist <p>(use the scroll buttons to find the correct image)</p>
						<a href="#" class="btn-agree step-hide">GOT IT, THANKS !</a>
						<a href="#" class="btn-agree step-show">HOW TO ADD AN ITEM</a>
					</div>
					<div class="favourite-box">
						<p>If you’re out of inspiration, you can check out some of our <a href="#" class="show-retailer">favourite retailers</a>.</p>
						<div class="retailer-holder active">
							<strong class="title">OUR FAVOURITE RETAILERS</strong>
							<div class="logo-slide">
								<ul class="logo-list">
									<li>
										<a target="_blank" href="http://www.amazon.co.uk/"><img src="/static/images/amazonlogo1.png" height="43" width="99" alt="Amazon"></a>
									</li>
									<li>
										<a target="_blank" href="http://www.johnlewis.com/"><img src="/static/images/johnlewislogo1.png" height="43" width="99" alt="John Lewis"></a>
									</li>
									<li>
										<a target="_blank" href="http://www.foyles.co.uk/"><img src="/static/images/foyles.png" height="43" width="99" alt="Foyles"></a>
									</li>
									<li>
										<a target="_blank" href="http://www.asos.com"><img src="/static/images/asoslogo1.png" height="43" width="99" alt="Asos"></a>
									</li>
									<li>
										<a target="_blank" href="http://www.feelunique.com"><img src="/static/images/feeluniquelogo1.png" height="44" width="99" alt="Feel Unique"></a>
									</li>
									<li>
										<a target="_blank" href="http://www.missguided.co.uk/"><img src="/static/images/missguidedlogo1.png" height="19" width="99" alt="Middguided"></a>
									</li>
								</ul>
							</div>
							<span class="btn-wrap">
								<a href="#" class="btn-opener"><span class="hide hide-retailer">HIDE</span></a>
							</span>
						</div>
					</div>
					<form action="/add" class="as-ajax add-item-form validate-form" method="POST">
						<fieldset>
							<div class="error-message">Please provide a valid url.</div>
							<div class="input-wrap">
								<input name="url" type="text" class="input-control required" />
							</div>
							<button type="submit" class="btn-add-item"><span class="plus">&#43;</span> <span>ADD AN ITEM</span></button>
							<div class="cancel-wrap">
								<input type="reset" value="cancel">
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>