<% include header %>

<h1>Add an item to your temptist</h1>

<p>Browse the internet or visit one of our favorite retailers. Find an item you
want and copy-paste the URL into the box below. temtpist will grab the item's details
for you and you will see the item appear on your Temptist.

<a href="http://amazon.com">Amazon</a>
<a href="http://amazon.com">Amazon</a>
<a href="http://amazon.com">Amazon</a>
<a href="http://amazon.com">Amazon</a>

<form action="/add" method="post">
	<label>Browse internet and paste url here</label>
	<input type="text" name="url" />
	<button type="submit">Add</button>
</form>

<% include footer %>