<% include header %>

<h1>Check and enter details</h1>

<form action="/edit/<%= listing.id %>" method="post">
	<label>URL</label>
	<input type="text" name="url" value="<%= listing.attributes.url %>" readonly />
	<a href="<%= listing.attributes.url %>">Link</a>
	
	<label>Title</label>
	<input type="text" name="title" value="<%= listing.attributes.title ? listing.attributes.title : title %>" maxlength="50" />

	<label>Price</label>
	<input type="text" name="price_cur" value="<%= listing.attributes.price_cur %>" maxlength="3" />
	<input type="text" name="price_val" value="<%= listing.attributes.price_val %>" />
	<% if( prices.length > 0 || decimals.length > 0 ) { %>
	<select name="price">
	<% for(var ix = 0; ix < prices.length; ix++) { %>
		<option><%= prices[ix] %></option>
	<% } %>
	    <option value="">--none--</option>
	<% for(var ix = 0; ix < decimals.length; ix++) { %>
		<option>£<%= decimals[ix] %></option>
	<% } %>
	    <option value="">--none--</option>
	</select>
	<% } %>
	
	<label>Favourite <input type="checkbox" name="is_favourite" value="yes" /></label>
	
	<label>Private <input type="checkbox" name="is_private" value="yes" /></label>
	
	<label>Tags</label>
	<input type="text" name="tags" value="<%= listing.attributes.tags ? listing.attributes.tags : '' %>" />
	
	<label>Enter any other comments here, e.g. size, color, quantity.</label>
	<textarea name="comments"><%= listing.attributes.comments ? listing.attributes.comments : '' %></textarea>
	
	<button type="submit">Save</button>

	<label>Image</label>
	<% for(var ix = 0; ix < imgs.length; ix++) { %>
		<label>
			<input type="radio" name="img_url" value="<%= imgs[ix] %>"/>
			<img title="<%= imgs[ix] %>" src="<%= imgs[ix] %>" width="100" height="auto" />
		</label>
	<% } %>
	
</form>


<% include footer %>