		<div class="light-box-holder edit-item">
			<header class="heading">
				<strong class="title"><a href="#">temptist</a></strong>
				<a href="#" class="close"><i class="icon-cross"></i></a>
			</header>
			<div class="light-content">
				<h2>EDIT ITEM <span class="text"><a target="_blank" href="<%= listing.url %>"><%= listing.title ? listing.title : title %></a></span></h2>
				<div class="item-frame">
					<div class="cycle-gallery">
						<div class="mask">
							<div class="slideset">
							<% if(listing.img_url && listing.img_url != '/static/images/noimage.png') { %>
								<div class="slide"><a href="<%= listing.img_url %>" class="select-as-img_url"><img src="<%= listing.img_url %>" height="auto" width="212" /></a></div>
							<% } 
							for(var ix = 0; ix < imgs.length; ix++) { %>
								<div class="slide"><a href="<%= imgs[ix] %>" class="select-as-img_url" id="img<%= ix %>">Loading images...&nbsp;</a></div>
							<% } %>
							<% if(listing.img_url && listing.img_url == '/static/images/noimage.png') { %>
								<div class="slide"><a href="<%= listing.img_url %>" class="select-as-img_url"><img src="<%= listing.img_url %>" height="auto" width="212" /></a></div>
							<% } %>
							</div>
						</div>
						<% if(imgs.length > 0) { %>
						<div class="controller-button">
							<a class="btn-prev" href="#"><i class="icon-arrow-left"></i></a>
							<a class="btn-next" href="#"><i class="icon-arrow-right01"></i></a>
						</div>
						<% } %>
					</div>
					<form action="/edit/<%= listing.id %>" method="post" class="edit-form validate-form">
						<fieldset>
							<input type="hidden" name="img_url" value="<%= listing.img_url %>" />
							<div class="input-row">
								<label for="title">TITLE</label>
								<div class="input-wrap valid-row">
									<input name="title" maxlength="75" id="title" class="input-control required" type="text" value="<%= listing.title ? listing.title : title %>">
								</div>
							</div>
							<div class="input-row">
								<div class="select-wrap">
									<label for="currency">CURRENCY</label>
									<span class="fake-select valid-row">
										<select name="price_cur" id="currency" class="required-select">
											<option>Select</option>
											<option value="GBP"<%= listing.price_cur == 'GBP' ? ' selected="selected"' : '' %>>£</option>
											<option value="USD"<%= listing.price_cur == 'USD' ? ' selected="selected"' : '' %>>$</option>
										</select>
									</span>
								</div>
								<div class="input-col">
									<label for="price">PRICE</label>
									<div class="input-wrap valid-row">
										<input name="price_val" id="price" class="input-control" type="text" value="<%= listing.price_val %>">
									</div>
								</div>
							</div>
							<% if( prices.length > 0 || decimals.length > 0 ) { %>
							<div class="input-row">
								<div class="input-wrap">
								<select name="price" class="price-select">
								<% for(var ix = 0; ix < prices.length; ix++) { %>
									<option><%= prices[ix] %></option>
								<% } %>
								<% if(prices.length == 0) { %>
								<% for(var ix = 0; ix < decimals.length; ix++) { %>
									<option>£<%= decimals[ix] %></option>
								<% } %>
								<% } %>
								</select>
								</div>
							</div>
							<% } %>
							<ul class="check-list">
								<li>
									<label>
										<input type="checkbox" name="is_favourite" value="1"<%= listing.is_favourite ? ' checked="checked"' : '' %>>
										<span class="fake-input"></span>
										<span class="fake-label">Make this item a favourite</span>
									</label>
								</li>
								<li>
									<label>
										<input type="checkbox" name="is_private" value="1"<%= listing.is_private ? ' checked="checked"' : '' %>>
										<span class="fake-input"></span>
										<span class="fake-label">Make this item private</span>
									</label>
								</li>
							</ul>
							<div class="input-row">
								<label for="tags">TAGS, SEPARATED BY ;</label>
								<div class="tags-wrap">
									<div class="input-wrap">
										<input id="tags" class="input-control" type="text" name="tags" value="<%= listing.tags ? listing.tags : '' %>">
									</div>
								</div>
							</div>
							<div class="input-row">
								<label for="comment">OTHER COMMENTS</label>
								<textarea name="comments"  class="input-control" id="comment" cols="30" rows="10" placeholder="Any other comments (eg: size, colour)"><%= listing.comments ? listing.comments : '' %></textarea>
							</div>
							<div class="button-holder">
								<button type="submit" class="btn-add-item"><span class="plus">&#43;</span> <span><%= listing.is_removed ? 'ADD' : 'UPDATE' %> ITEM</span></button>
								<div class="remove-wrap">
									<% if(listing.is_removed) { %>
									<a href="#" class="link-remove">CANCEL</a>
									<% } else { %>
									<a href="/remove/<%= listing.id %>" class="link-remove remove-ajax">REMOVE ITEM</a>
									<% } %>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
