<form method="POST">

<input type="text" name="title" value="<%= event.title %>"/>

<input type="text" name="day" value="<%= event.day %>"/>
<input type="text" name="month" value="<%= event.month %>"/>
<input type="text" name="year" value="<%= event.year %>"/>

<button type="submit" value="Save">Save</button>

</form>