			<div class="action-row">
				<div class="button-holder">
					<strong class="title">
						<sup>my</sup>temptist
					</strong>
					<a href="/share" class="btn-share btn-share-this lightbox"><i class="icon-arrow-right"></i><span>SHARE</span></a>
				</div>
				<form action="#" class="search-form">
					<fieldset>
						<input id="withtags" class="input-control item-search" type="search" placeholder="Start typing to filter the items">
						<button type="submit"><i class="icon-zoom"></i></button>
						<div class="suggestion-dropdown">
							<div class="holder">
								<strong class="title"><span>Enter any</span> term or choose tags</strong>
								<ul class="tags">
								</ul>
							</div>
						</div>
					</fieldset>
				</form>
				<div class="sort-holder">
					<a href="#" class="sort-opener"><i class="icon-sort-arrow"></i></a>
					<ul class="sort-item" id="sorts">
						<li class="active">
							<a data-sort-value="date" href="#"><i class="icon-calender"></i><span>Sort By Date</span></a>
						</li>
						<li>
							<a data-sort-value="priceNum" href="#"><i class="icon-tag"></i><span>Sort By Price</span></a>
						</li>
					</ul>
				</div>
			</div>