			<div class="action-row my-friend">
				<div class="button-holder">
				    <div class="img-holder">
							<img src="<%= temptee.profile_img_url %>" width="60" height="auto" />
					</div>
					<strong class="title">
						<sup><%= temptee.nickname %>'s</sup>temptist
					</strong>
				</div>
				<form action="#" class="filter-form custom-select">
					<fieldset>
						<select onchange="navToDataUrl(this)" class="custom-filter" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
							<option data-image="/static/images/thumbnail06.jpg">Filter by friend</option>
							<% for(var ix = 0; ix < locals.authed.friends.length; ix ++) { %>
							<option data-url="<%= fns.toUrl('temptist', locals.authed.friends[ix].friend.id, locals.authed.friends[ix].friend.email) %>" data-image="<%= locals.authed.friends[ix].friend.profile_img_url %>"><%= locals.authed.friends[ix].nickname %></option>
							<% } %>
						</select>
					</fieldset>
				</form>
				<form action="#" class="search-form">
					<fieldset>
						<input id="withtags" class="input-control item-search" type="search" placeholder="Start typing to filter the items">
						<button type="submit"><i class="icon-zoom"></i></button>
						<div class="suggestion-dropdown">
							<div class="holder">
								<strong class="title"><span>Enter any</span> term or choose tags</strong>
								<ul class="tags">
								</ul>
							</div>
						</div>
					</fieldset>
				</form>
				<div class="sort-holder">
					<a href="#" class="sort-opener"><i class="icon-sort-arrow"></i></a>
					<ul class="sort-item" id="sorts">
						<li class="active">
							<a data-sort-value="date" href="#"><i class="icon-calender"></i><span>Sort By Date</span></a>
						</li>
						<li>
							<a data-sort-value="priceNum" href="#"><i class="icon-tag"></i><span>Sort By Price</span></a>
						</li>
					</ul>
				</div>
			</div>