<% include header %>

	<nav class="temptist-nav">
		<div class="steps-holder">
			<div class="welcome-box">
				<strong class="title">Looking great !</strong>
				<strong class="main-text">You're almost done</strong>
			</div>
			<ul class="steps-list">
				<li>
					<span class="step-count">1</span>
					<span class="title-text">SPECIAL OCCASIONS <br> TO CELEBRATE</span>
				</li>
				<li class="active">
					<span class="step-count">2</span>
					<span class="title-text">INVITE <br>FRIENDS</span>
				</li>
				<li>
					<span class="step-count">3</span>
					<span class="title-text">START <br>ADDING ITEMS</span>
				</li>
			</ul>
		</div>
	</nav>

	<main role="main" id="main">
		<div class="main-holder">
			<div class="form-holder">
				<span class="step-count">2</span>
				<h1>Invite friends</h1>
				<% var extraText = ' AND GO TO THE NEXT STEP'; %>
				<% include friends-form %>
			</div>
		</div>
	</main>

<% include footer %>