<% include header %>

<% include tabs-away %>

<main role="main" id="main">
		<div class="main-holder">
			<section id="content">
				<div class="action-row">
					<div class="img-wrap">
						<div class="img-holder">
							<a href="/picture"><img src="<%= locals.authed.profile_img_url %>" width="60" height="auto" /></a>
						</div>
						<strong class="title">
							<sup>my</sup>friends
						</strong>
					</div>
					<form class="search-form sm" action="#">
						<fieldset>
							<input type="search" placeholder="Start typing to filter friends" class="input-control friend-filter">
							<button type="submit"><i class="icon-zoom"></i></button>
						</fieldset>
					</form>
				</div>
				<div class="friends-row">
					<div class="friend-col">
						<% for(var ix = 0; ix < friendships.all.length; ix = ix+2) {
							var friendship = friendships.all[ix]; %>
						   <% include friend %>
						<% } %>
					</div>
					<div class="friend-col">
						<% for(var ix = 1; ix < friendships.all.length; ix = ix+2) {
							var friendship = friendships.all[ix]; %>
						   <% include friend %>
						<% } %>
					</div>
				</div>
			</section>
			<aside class="invite-box">
				<div>
				<h2>Add friends to your temptist</h2>
				<p>Add friends so that you can remind them about upcoming occasions,
				tempt them with things they might like, or drop hints about items on
				your temptist.</p>
				<form class="add-friend-form validate-form" method="POST" action="/add-friend">
					<fieldset>
					<div class="input-holder valid-row">
						<div class="input-wrap">
							<input name="name" class="input-control name required" type="text" value="Friend's name">
						</div>
						<div class="error-text"><span class="icon-red_arrow"></span><span>Please enter your friend's name</span></div>
					</div>
					<div class="valid-row">
						<div class="input-holder">
							<span class="label-wrap"><label for="email">E-MAIL</label></span>
							<div class="input-wrap">
								<input name="email" id="email" class="input-control required-email" type="email" value="Friend's email address">
							</div>
						</div>
						<div class="error-text"><span class="icon-red_arrow"></span><span>Please enter your friend's email</span></div>
					</div>
					<div class="btn-holder">
						<button type="submit" class="btn-share">ADD FRIEND</button>
					</div>
					</fieldset>
				</form>
				<% if(false) { %>
				<div class="register-holder">
				<div class="existing-friends fb-box">
					<p>Stay tuned! You will soon be able to connect your Facebook account and import your Facebook friends.</p>
				    <a class="btn-fb" href="/auth/facebook">
						<span class="ico-holder">
							<i class="icon-facebook"></i>
						</span>
						<span class="text">Coming soon</span>
					</a>
				</div>
				</div>
				<% } %>
				</div>
			</aside>
			<section class="friend-filter-list"></section>
		</div>
	</main>
	
<% include footer %>