						<!-- expects a friendship object -->
						<div class="friend-box">
						  <% if(friendship.friend.has_signed_up) { %>
							<div class="img-holder">
								<a href="/temptist/<%= fns.toUrl('temptist', friendship.friend.id, friendship.friend.email) %>"><img src="<%= friendship.friend.profile_img_url %>" height="80" width="auto" /></a>
							</div>
							<div class="profile-text">
								<strong class="name"><a href="/temptist/<%= fns.toUrl('temptist', friendship.friend.id, friendship.friend.email) %>"><%= friendship.nickname %></a></strong>
								<div class="meta">Added on <time datetime="<%= fns.dateFormat(friendship.created, '%Y-%m-%d', true) %>"><%= fns.dateFormat(friendship.created, '%d/%m/%Y', true) %></time></div>
								<!-- <span class="count">1700 items</span> -->
							</div>
						  <% } else { %>
							<div class="img-holder">
								<img src="<%= friendship.friend.profile_img_url %>" height="80" width="auto" />
							</div>
							<div class="profile-text">
								<strong class="name"><%= friendship.nickname %></strong>
								<a href="/invite/<%= friendship.id %>"" class="btn-invite">INVITE</a>
								<div class="meta">Added on <time datetime="<%= fns.dateFormat(friendship.created, '%Y-%m-%d', true) %>"><%= fns.dateFormat(friendship.created, '%d/%m/%Y', true) %></time></div>
							</div>
						  <% } %>
						</div>