				<form method="POST" class="friends" novalidate>
					<% if(friends.length > 0) { %>
					<span class="note-text">We think you might be friends with the following temptist members.<br/>Would you like to have them as friends within temptist?</span>
					<% for(var ix = 0; ix < friends.length; ix++) { %>
					<div class="input-holder friend">
						<div class="input-wrap disable">
							<span class="avatar-holder">
								<img src="<%= friends[ix].user.profile_img_url %>" width="70" height="auto" />
							</span>
							<span class="label-text"><%= friends[ix].user.name %></span>
							<input type="hidden" name="friendship" value="-<%= friends[ix].id %>"/>
							<i class="icon-check"></i>
						</div>
					</div>
					<% } %>
					<h2>You can also invite other friends</h2>
					<% } %>
					<span class="note-text">Invite your friends to experience temptist with you. Insert your
					friends' email addresses in the box and click the + button to add them to the invite list. Once you've added all your friends, remember to click the "invite friends" button. </span>
					<div class="add-new-item">
						<div class="input-holder valid-row add-friend">
							<div class="input-wrap email">
								<i class="icon-user"></i>
								<input type="text" name="nickname" placeholder="name" class="input-control" />
								<input name="email" id="email" class="input-control" type="email" value="email address"/>
							</div>
							<button class="btn-share btn-add bd0">+</button>
							<div class="error-text"><span class="icon-red_arrow"></span><span>Oops! You must enter a valid email address and name</span></div>
						</div>
					</div>	
					<div class="button-wrap">
						<button type="submit">INVITE FRIENDS<%= extraText %></button>
					</div>
				</form>