<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>temptist</title>
	<% include ../common/head.ejs %>
</head>
<body class="authed">
<% include ../common/gtm.ejs %>
<div id="wrapper">
	<header id="header">
		<div class="header-holder">
			<nav class="notification-nav">
				<ul>
					<li>
						<a href="/friends"><i class="icon-user"></i></a>
					</li>
					<li class="notification">
						<a href="/notifications"><span class="ico-holder"><i class="icon-bell"></i>
						<% if(locals.authed.notifications) { %><span class="count"><%= locals.authed.notifications %></span><% } %></span></a>
						<div class="notification-box">

						</div>
					</li>
					<li class="personal">
						<a href="/profile">
							<span class="thumb-holder">
								<img src="<%= locals.authed.profile_img_url %>" width="35" height="auto" />
							</span>
							<div class="name-info">
								<strong><%= locals.authed ? locals.authed.name : '' %> &nbsp;</strong>
								<span>&nbsp;<!--  MOVER --></span>
								<i class="icon-arrow"></i>
							</div>
						</a>
						<ul class="drop-nav">
							<li class="hidden-tablet">
								<a href="/friends"><i class="icon-user"></i> <span>MY FRIENDS</span></a>
							</li>
							<li>
								<a href="/profile"><i class="icon-user-nav"></i> <span>MY DETAILS</span></a>
							</li>
							<li>
								<a href="/occasions"><i class="icon-gift"></i> <span>MY OCCASIONS</span></a>
							</li>
							<!-- 
							<li>
								<a href="#"><i class="icon-envelop"></i> <span>E-MAIL PREFERENCES</span></a>
							</li>
							 -->
							<li class="hidden-tablet">
								<a href="/help"><i class="icon-question"></i> <span>HELP</span></a>
							</li>
							<li>
								<a href="/logout"><i class="icon-logout"></i> <span>LOGOUT</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="logo">
				<a href="/"><img src="/static/images/logo.png" height="32" width="103" alt="temptist"></a>
			</div>
			<a href="/help" class="btn-help">Help</a>
		</div>
	</header>