		<div class="light-box-holder invite-popup">
			<header class="heading">
				<strong class="title"><a href="#">temptist</a></strong>
				<a href="#" class="close"><i class="icon-cross"></i></a>
			</header>
			<div class="light-content">
				<h2>DROP A HINT TO A FRIEND</h2>
				<form action="/drop-a-hint/<%= listing.id %>" class="invite-form message-form" method="POST">
				  <div class="hint-item-box">
				    <div class="hint-img">
				  	  <img src="<%= listing.img_url %>" width="100" height="auto" />
				    </div>
				    <% if(listing.price) { %>
				    <strong><span><%= listing.price.symbol %></span><%= listing.price.amount %></strong>
				    <% } %>
				    <span><%= listing.title %></span>
				  </div>
					<fieldset>
						<div class="message-error"></div>
						<div class="input-wrap autocomplete-wrap">
							<span class="ico-box"><i class="icon-user"></i></span>
							<select name="friend" class="message-friend">
							<% for(var ix = 0; ix < friendships.length; ix++) { %>
							  <option value="<%= friendships[ix].id %>"><%= friendships[ix].nickname %></option>
							<% } %>
							</select>
							<div class="autocomplete-drop">
								<div class="drop-box">
								</div>
							</div>
						</div>
						<div class="preview-message">
						  <div class="message-holder">
							<strong class="title">E-MAIL MESSAGE PREVIEW</strong>
							<div class="mail-body">
								<div class="msg-msg">
								<p>There's something I'd love for you to think about buying for me! Follow the link for more details!</p>
								</div>
								<a href="#">www.temptist.com/uniquecode</a>
							</div>
						  </div>
						  <div class="btn-holder">
							<a href="#" class="link-edit">EDIT MESSAGE</a>
							<input type="submit" class="btn-add-item" value="SEND HINT">
						  </div>
						</div>
						<div class="edit-message">
						  <div class="message-holder">
						    <textarea class="input-control" name="message">There's something I'd love for you to think about buying for me! Follow the link for more details!</textarea>
						  </div>
						  <div class="btn-holder edit-message">
							  <a href="#" class="link-edit">PREVIEW MESSAGE</a>
							  <input type="submit" class="btn-add-item" value="SEND HINT">
						    </div>						  
						  </div>
					</fieldset>
				</form>
			</div>
		</div>