<% include header %>

<% include tabs-home %>

<main role="main" id="main">
	<div class="main-holder sort-block">
		<% include filter %>
		
		<% if(temptist.length > 0) { %>

			<% include ../common/temptist %>
			
		<% } else { %>
			
			<div class="form-holder">
				<h1>Your Temptist is empty</h1>
				<span class="note-text">You don't have any items in your Temptist, would you like some help?</span>
				<a href="/add" class="btn-add-item lightbox"><span>I KNOW WHAT I WANT TO ADD</span></a><br/>
				<a href="/suggest/1" class="btn-share"><span>HELP ME PICK SOME ITEMS</span></a>
			</div>

			<% include ../common/temptist %>
		
		<% } %>
		
	</div>
</main>

<% include footer %>