		<div class="light-box-holder invite-popup">
			<header class="heading">
				<strong class="title"><a href="#">temptist</a></strong>
				<a href="#" class="close"><i class="icon-cross"></i></a>
			</header>
			<div class="light-content">
				<h2>INVITE FRIEND TO TEMPTIST</h2>
				<form action="/invite/<%= friendship.id %>" class="invite-form message-form" method="POST">
					<fieldset>
						<div class="message-error"></div>
						<div class="preview-message">
						  <div class="message-holder">
							<strong class="title">E-MAIL MESSAGE PREVIEW</strong>
							<div class="mail-body">
								<strong class="subject"><%= friendship.user.name %> thinks that you should check out temptist</strong>
								<div class="msg-msg">
								<p>Hey <%= friendship.nickname %>,</p>
								<p>I’ve joined temptist.com – you should too! It's a great new site that lets us save all the things we want to buy online in one place, to share them with each other and to find brilliant new things to tempt us (as curated by guest editors and other users). It will also make buying presents a whole lot easier.</p>
								</div>
								<span class="ersatz-a">www.temptist.com/invite/</span>
							</div>
						  </div>
						  <div class="btn-holder">
							<a href="#" class="link-edit">EDIT MESSAGE</a>
							<input type="submit" class="btn-add-item" value="INVITE FRIEND">
						  </div>
						</div>
						<div class="edit-message">
						  <div class="message-holder">
						    <textarea class="input-control" name="message">Hey <%= friendship.nickname %>,

I’ve joined temptist.com – you should too! It's a great new site that lets us save all the things we want to buy online in one place, to share them with each other and to find brilliant new things to tempt us (as curated by guest editors and other users). It will also make buying presents a whole lot easier.</textarea>
						  </div>
						  <div class="btn-holder edit-message">
							<a href="#" class="link-edit">PREVIEW MESSAGE</a>
							<input type="submit" class="btn-add-item" value="INVITE FRIEND">
						  </div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>