<% include header %>

<% include tabs-home %>

<main role="main" id="main">
		<div class="main-holder">
		
			<section id="content" class="form-holder">
				<div class="action-row">
					<div class="img-wrap">
						<div class="img-holder">
							<a href="/picture"><img src="<%= locals.authed.profile_img_url %>" width="60" height="auto" /></a>
						</div>
						<strong class="title">
							<sup>my</sup>friends
						</strong>
					</div>
				</div>
				<% var extraText = ''; %>
				<% include friends-form %>
			</section>
			<aside class="invite-box">
				<div>
				<% if(true) { %>
				<div class="register-holder">
				<div class="existing-friends fb-box">
					<p>Stay tuned! You will soon be able to connect your Facebook account and import your Facebook friends.</p>
				    <a class="btn-fb" href="/auth/facebook">
						<span class="ico-holder">
							<i class="icon-facebook"></i>
						</span>
						<span class="text">Coming soon</span>
					</a>
				</div>
				</div>
				<% } %>
				</div>
			</aside>
		</div>
	</main>
	
<% include footer %>