<div class="drop-holder">
	<strong class="title">YOUR NOTIFICATIONS</strong>
	<ul>
		<% for(var ix = 0; ix < notifications.length; ix++) { %>
		<li>
			<a href="#" class="ico-holder <%= fns.getIcon2(notifications[ix].nudge_type) %>">
			</a>
			<div class="message">
				<time datetime="<%= fns.dateFormat(notifications[ix].created, '%Y-%m-%d') %>"><%= fns.longDateFormat(notifications[ix].created) %></time>
				<p><a id="ntfctn<%= notifications[ix].id %>" href="<%= notifications[ix].href %>" class="cntfctn"><%= notifications[ix].subject %></a></p>
			</div>
		</li>
		<% } %>	
	</ul>
</div>
<a href="/notifications" class="btn-view"><i class="icon-bell"></i> <span>SEE ALL NOTIFICATIONS</span></a>