<% include header %>

<% include tabs-home %>

	<main role="main" id="main">
		<div class="main-holder">
			<div class="action-row my-detail">
				<div class="detail-holder">
					<div class="img-wrap">
						<div class="img-holder">
							<a href="/picture"><img src="<%= locals.authed.profile_img_url %>" width="60" height="auto" /></a>
						</div>
						<strong class="title">
							<sup>my</sup>notifications
						</strong>
					</div>
				</div>
			</div>
			<div class="notification-area">
			 	<% for(var ix = 0; ix < days.length; ix++) { %>
				<time datetime="<%= fns.dateFormat(days[ix].rd, '%Y-%m-%d') %>"><%= days[ix].dt %></time>
				<ul class="notifications">
					<% for(var jx = 0; jx < days[ix].nfs.length; jx++) { %>
					<li>
						<span class="notif-type"><i class="<%= fns.getIcon1(days[ix].nfs[jx].nudge_type) %>"></i></span>
						<div class="details">
							<!-- <img src="images/thumbnail04.jpg" height="30" width="30" alt="image description" class="img"> -->
							<span class="text"><a href="<%= days[ix].nfs[jx].href %>"><%= days[ix].nfs[jx].subject %></a></span>
							<span class="text"><%= days[ix].nfs[jx].message %></span>
						</div>
					</li>
					<% } %>
				</ul>
				<% } %>
			</div>
		</div>
	</main>

<% include footer %>