		<div class="light-box-holder invite-popup">
			<header class="heading">
				<strong class="title"><a href="#">temptist</a></strong>
				<a href="#" class="close"><i class="icon-cross"></i></a>
			</header>
			<div class="light-content">
				<h2>SHARE YOUR TEMPTIST</h2>
				<form action="/share-friends/<%= nudge.id %>" class="invite-form nudge-form" method="POST">
				  <% if(nudge.event) { %>
				  <div class="hint-item-box nudge-box">
				    <%= nudge.event.title %>
				  </div>
				  <% } %>
					<fieldset>
						<div class="message-error"></div>					
						<div class="preview-message">
						  <div class="message-holder">
							<strong class="title">E-MAIL MESSAGE PREVIEW</strong>
							<div class="mail-body">
								<strong class="subject"><%= nudge.subject %></strong>
								<div class="msg-msg">
								<% for(var ix = 0; ix < message.length; ix++) { %>
								<p><%= message[ix] %></p>
								<% } %>
								</div>
								<span class="ersatz-a">www.temptist.com/uniquecode</span>
							</div>
						  </div>
						  <div class="btn-holder">
							<a href="#" class="link-edit">EDIT MESSAGE</a>
							<input type="submit" class="btn-add-item" value="SELECT FRIENDS &gt;">
						  </div>
						</div>
						<div class="edit-message">
						  <div class="message-holder">
						    <textarea class="input-control" name="message"><%= nudge.message %></textarea>
						  </div>
						  <div class="btn-holder edit-message">
						    <a href="#" class="link-edit">PREVIEW MESSAGE</a>
						    <input type="submit" class="btn-add-item" value="SELECT FRIENDS &gt;">
						  </div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>