<% include header %>

<% include tabs %>

<main role="main" id="main">
		<div class="main-holder">
			<div class="action-row my-detail">
				<div class="detail-holder">
					<div class="img-wrap">
						<div class="img-holder">
							<a href="/picture"><img src="<%= locals.authed.profile_img_url %>" width="60" height="auto" /></a>
						</div>
						<strong class="title">
							<sup>my</sup>occasions
						</strong>
					</div>
					<ul class="title-nav">
						<!-- 
						<li>
							<a href="#" class="btn-share">EDIT <span>DETAILS</span></a>
						</li>
						 -->
					</ul>
				</div>
			</div>
			<div class="form-holder events">
				<h2>Which special occasions do you like to celebrate ?</h2>
				<span class="note-text">We'll remind you to update and share your Temptist when it matters most.</span>
						<% if(events) { %>
							<% for(var ix = 0; ix < events.length; ix++) { %>
							<form class="steps-form validate-form event" action="/event/<%= events[ix].id %>" method="POST" onsubmit="return false">
							<div class="input-holder">
								<div class="input-wrap">
									<i class="icon-<%= events[ix].holiday.icon %>"></i>
									<span class="label-text"><%= events[ix].title %><input type="hidden" name="title" value="<%= events[ix].title %>"/></span>
									<% if(events[ix].holiday.is_user_defined) { %>
										<input name="date" class="input-control required-number date-mask default" type="text" placeholder="DD/MM/YYYY" value="<%= fns.dateFormat(events[ix].occurs, '%d/%m/%Y', true)  %>">
									<% } %>
									<i class="icon-check"></i>
								</div>
								<div class="error-text"><span class="icon-red_arrow"></span><span>Oops! You must enter a valid date in the format DD/MM/YYYY</span></div>
							</div>
							<input type="hidden" name="event" value="<%= events[ix].id %>"/>
							<input type="hidden" name="holiday" value="<%= events[ix].holiday.id %>"/>
							</form>
							<% } %>

						<% } %>
							
						<% if(holidays) { %>
							<% for(var ix = 0; ix < holidays.length; ix++) {
								if(holidays[ix].ix == 99) { %>
							<form class="steps-form validate-form new-item" action="/event" onsubmit="return false">
							<div class="add-new-item">
								<div class="input-row">
									<div class="input-wrap name">
										<i class="icon-gift"></i>
										<input type="hidden" name="holiday" value="<%= holidays[ix].id %>"/>
										<input name="title" class="input-control name-input" type="text" placeholder="Add a new occasion name">
										<div class="error-text"><span class="icon-red_arrow"></span><span>Oops! Please enter a name for the new occasion</span></div>
									</div>
									<div class="input-wrap">
										<input name="date" class="input-control date-mask default" type="text" placeholder="DD/MM/YYYY">
									</div>
									<button type="submit" class="btn-share btn-add bd0">+</button>
								</div>
							</div>
							</form>
							<% } else {
								var show = true;
								if(events) {
									for(var jx = 0; jx < events.length; jx++) {
										if(events[jx].holiday.id == holidays[ix].id) {
											show = false;
											break;
										}
									}
								}
								if( show ) {
							 %>
							<form class="steps-form validate-form event" action="/event" method="POST" onsubmit="return false">
							<div class="input-holder">
								<div class="input-wrap disable">
									<i class="icon-<%= holidays[ix].icon %>"></i>
									<span class="label-text"><%= holidays[ix].title %></span>
									<input type="hidden" name="holiday" value="<%= holidays[ix].id %>"/>
									<% if(holidays[ix].is_user_defined) { %>
										<input name="date" class="input-control required-number date-mask default" type="text" placeholder="DD/MM/YYYY">
									<% } %>
									<i class="icon-check"></i>
								</div>
								<% if(holidays[ix].is_user_defined) { %>
									<div class="error-text"><span class="icon-red_arrow"></span><span>Oops! You must enter a valid date</span></div>
								<% } %>
							</div>
							</form>
							<% 	}
							  }
							} 
						  } %>
			</div>
		</div>
	</main>

<% include footer %>