<% include header %>

<% include tabs-home %>

<main role="main" id="main">
		<div class="main-holder">
			<div class="action-row my-detail">
				<div class="detail-holder profile">
					<div class="img-wrap">
						<div class="img-holder">
							<a href="/picture"><img src="<%= user.profile_img_url %>" width="60" height="auto" /></a>
						</div>
						<strong class="title">
							<sup>my</sup>details
						</strong>
					</div>
					<ul class="title-nav">
						<li>
							<a href="/profile">EDIT PROFILE</a>
						</li>
					</ul>
				</div>
			</div>
<!-- 			<form class="detail-form" action="/picture" method="post" enctype="multipart/form-data"> -->
			<form class="picture-form">
				<fieldset>
					<div class="add-new-item">
						<div class="input-wrap email">
							<label for="name">Click the button to upload a new image</label>
							<input id="files" name="uploaded_img" class="input-control" type="file" />
						</div>
					</div>
				</fieldset>
			</form>
			<div class="form-holder">
				<p id="status">&nbsp;</p>
				<a href="#" class="btn-share btn-upload"><span>UPLOAD A NEW PROFILE IMAGE</span></a>
				<div style="margin: 20px auto 0px auto;border:1px solid #ccc;width:300px;background-color:#000" id="preview"><img src="<%= locals.authed.profile_img_url %>" style="width:300px;" /></div>
			</div>
			<form id="picform" class="detail-form" action="/s3picture" method="post">
				<div class="button-wrap">
					<input type="hidden" id="avatar_url" name="avatar_url" value="/public/images/default.png" />
					<button type="submit" id="btn_submit"><span>UPLOAD</span></button>
				</div>
			</form>
					
		</div>
	</main>
	<script>
	function s3_upload(){
	    var status_elem = document.getElementById("status");
	    var url_elem = document.getElementById("avatar_url");
	    var preview_elem = document.getElementById("preview");
	    var s3upload = new S3Upload({
	        file_dom_selector: 'files',
	        s3_sign_put_url: '/s3sign',
	        onProgress: function(percent, message) {
	            status_elem.innerHTML = 'Upload progress: ' + percent + '% ' + message;
	        },
	        onFinishS3Put: function(public_url) {
	            status_elem.innerHTML = 'Upload completed. Uploaded to: '+ public_url;
	            url_elem.value = public_url;
	            preview_elem.innerHTML = '<img src="'+public_url+'" style="width:300px;" />';
	            $('#picform').submit();
	        },
	        onError: function(status) {
	            status_elem.innerHTML = 'Upload error: ' + status;
	        }
	    });
	}
	/*
	* Listen for file selection:
	*/
	(function() {
	    var input_element = document.getElementById("files");
	    input_element.onchange = s3_upload;
	})();
	
	$(function() {
		$('.btn-upload').click(function(e) {
			e.preventDefault();
			$('#files').click();
		});
	});
// 	var _requestBucket;
// 	$( "#btn_submit" ).bind( "click", requestCredentials );

// 	requestCredentials = function(event) {
// 	  event.preventDefault();
// 	  var _file;
	  
// 	  _file = $("#file").val().replace(/.+[\\\/]/, "");

// 	  $.ajax({
// 	    url: "/gets3credentials/" + _file,
// 	    dataType: "JSONP",
// 	    success: processResponse,
// 	    error: function(res, status, error) {//do some error handling here}
// 	  });
// 	}
	</script>
<% include footer %>