<% include header %>

<% include tabs %>

<main role="main" id="main">
		<div class="main-holder">
			<div class="action-row my-detail">
				<div class="detail-holder profile">
					<div class="img-wrap">
						<div class="img-holder">
							<a href="/picture"><img src="<%= user.profile_img_url %>" width="60" height="auto" /></a>
						</div>
						<strong class="title">
							<sup>my</sup>details
						</strong>
					</div>
					<ul class="title-nav">
						<li>
							<a href="/picture">CHANGE IMAGE</a>
						</li>
					</ul>
				</div>
			</div>
			<form action="/editdetail" class="detail-form">
				<fieldset>
					<div class="row">
						<div class="label-wrap">
							<label for="name">Name</label>
						</div>
						<div class="input-wrap">
							<input id="name" class="input-control" type="text" value="<%= user.name ? user.name : '' %>">
						</div>
					</div>
					<div class="row">
						<div class="label-wrap">
							<label for="country">Date of birth</label>
						</div>
						<div class="input-wrap">
							<input id="date_of_birth" class="input-control" type="text" value="<%= user.date_of_birth ? fns.dateFormat(user.date_of_birth, '%d/%m/%Y', true) : '' %>">
						</div>
					</div>

					<div class="row">
						<div class="label-wrap">
							<label for="country">Country</label>
						</div>
						<div class="input-wrap">
							<input id="country" class="input-control" type="text"  value="<%= user.country ? user.country : '' %>">
						</div>
					</div>
					<div class="row">
						<div class="label-wrap">
							<label for="email">E-mail</label>
						</div>
						<div class="input-wrap">
							<input id="email" class="input-control" type="email" value="<%= user.email ? user.email : '' %>">
						</div>
					</div>

				</fieldset>
			</form>
					
			<form action="/forgot-password" method="post" class="detail-form">
				<input type="hidden" name="email" value="<%= user.email ? user.email : '' %>" />
				<div class="button-wrap">
					<button type="submit"><span>Click here to change your password</span></button>
				</div>
			</form>
					
<% for(var ix = 0; ix < logins.length; ix++) { 
	if(logins[ix] && logins[ix].attributes) { %>
<label>Facebook</label>
<span><%= logins[ix].attributes.username %></span>
<% }} %>
					
<!-- 
					<div class="button-wrap">
						<a href="#" class="btn-change hidden-tablet">CHANGE IMAGE</a>
						<button type="submit"><span>DEACTIVATE ACCOUNT ?</span></button>
					</div>
 -->					
		</div>
	</main>

<% include footer %>