<% include header %>

<% include tabs %>

<main role="main" id="main">
		<div class="main-holder sort-block">
			<div class="action-row create-new">
				<div class="button-holder">
					<strong class="title">
						<sup>create</sup>my temptist
					</strong>
				</div>
				<div class="button-group">
					<a href="/" class="btn btn-cream float-left">skip <span class="hide-sm">this</span></a>
					<% if(count > 0) { %>
					<a href="/suggest/<%= next %>" class="btn btn-green float-right">Next <span class="hide-sm">Question</span></a>
					<% } else { %>
					<a href="/" class="btn btn-green float-right">View your Temptist</a>
					<% } %>
				</div>
			</div>
			<div class="heading-box">
				<h1><%= question.h1 %></h1>
				<p><%= question.p %></p>
			</div>
			<div class="item-holder" id="container">
				<% for(var ix = 0; ix < listings.length; ix++) { %>
				<div class="item-box mark add-to-my">
					<div class="img-holder">
						<a href="/add-to-my/<%= listings[ix].id %>"><img src="<%= listings[ix].img_url %>" height="341" width="220" alt="<%= listings[ix].title %>"></a>
					</div>
					<div class="desc-wrap">
						<h2><a href="/add-to-my/<%= listings[ix].id %>"><%= listings[ix].title %></a></h2>
						<p><%= listings[ix].comments %></p>
						<% if(listings[ix].price) { %>
						<strong class="price"><span><%= listings[ix].price.symbol %></span> <em class="priceNum"><%= listings[ix].price.amount %></em></strong>
						<% } %>
						<a href="/add-to-my/<%= listings[ix].id %>" class="btn btn-blue">Add to my temptist</a>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</main>
	
<% include footer %>