		<div class="light-box-holder invite-popup">
			<header class="heading">
				<strong class="title"><a href="#">temptist</a></strong>
				<a href="#" class="close"><i class="icon-cross"></i></a>
			</header>
			<div class="light-content">
				<h2>SHARE YOUR TEMPTIST</h2>
				<form action="/share-send/<%= nudge.id %>" class="invite-form message-form" method="POST">
					<fieldset>
						<div class="message-error"></div>
						<div class="preview-message">
						  <div class="message-holder form-holder">
						   <h3>Select friends to share with</h3>
						  <% for(var ix = 0; ix < friendships.length; ix++) { %>
						    <div class="input-holder">
								<div class="input-wrap disable">
									  <i class="icon-user"></i>
									  <span class="label-text"><%= friendships[ix].nickname %></span>
									  <i class="icon-check"></i>
									  <input class="check-me-too" type="checkbox" name="friendship" value="<%= friendships[ix].id %>">
								</div>
							</div>
					      <% } %>
					      </div>
						</div>
						<div>
						  <div class="btn-holder">
							<input type="submit" class="btn-add-item" value="SEND MESSAGE &gt;">
						  </div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>