		<div class="light-box-holder invite-popup">
			<header class="heading">
				<strong class="title"><a href="#">temptist</a></strong>
				<a href="#" class="close"><i class="icon-cross"></i></a>
			</header>
			<div class="light-content">
				<h2>SHARE YOUR TEMPTIST</h2>
				<form action="/share-event" class="invite-form nudge-form" method="POST">
					<fieldset>
						<div class="message-error"></div>
						<div class="preview-message">
						  <div class="message-holder form-holder">
						  <h3>Select an occasion</h3>
						  <% for(var ix = 0; ix < events.length; ix++) { %>
						    <div class="input-holder">
						      <label>
								<div class="input-wrap disable">
									  <i class="icon-<%= events[ix].holiday.icon %>"></i>
									  <span class="label-text"><%= events[ix].title %></span>
									  <i class="icon-check"></i>
									  <input class="check-me" type="radio" name="event" value="<%= events[ix].id %>">
								</div>
							  </label>
							</div>
					      <% } %>
					      </div>
						</div>
						<div>
						  <div class="btn-holder">
							<input type="submit" class="btn-add-item" value="EDIT MESSAGE &gt;">
						  </div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>