<% include header %>

	<nav class="temptist-nav">
		<div class="steps-holder">
			<div class="welcome-box">
				<strong class="title">Thank you !</strong>
				<strong class="main-text">Start adding items</strong>
			</div>
			<ul class="steps-list">
				<li>
					<span class="step-count">1</span>
					<span class="title-text">SPECIAL OCCASIONS <br> TO CELEBRATE</span>
				</li>
				<li>
					<span class="step-count">2</span>
					<span class="title-text">INVITE <br>FRIENDS</span>
				</li>
				<li class="active">
					<span class="step-count">3</span>
					<span class="title-text">START <br>ADDING ITEMS</span>
				</li>
			</ul>
		</div>
	</nav>

	<main role="main" id="main">
		<div class="main-holder">
			<div class="form-holder">
				<span class="step-count">3</span>
				<h1>Start adding items to your Temptist</h1>
				<span class="note-text">If you know what you want then just get started. If you need some inspiration then we can help you.</span>
				<a href="/?add" class="btn-add-item"><span>I KNOW WHAT I WANT AND I'M READY TO START</span></a>
				<a href="/suggest/1" class="btn-share"><span>HELP ME PICK SOME ITEMS</span></a>
			</div>
		</div>
	</main>

<% include footer %>