	<nav class="temptist-nav">
		<a href="/add" class="btn-add-item lightbox"><span class="plus">&#43;</span> <span>ADD AN ITEM</span></a>
		<ul class="nav temptist">
			<li>
				<a href="/">MY TEMPTIST</a>
			</li>
			<li>
				<a href="/friends">MY FRIENDS’ TEMPTISTS</a>
			</li>
		</ul>
		<a class="btn-share hidden-tablet lightbox" href="/share"><i class="icon-arrow-right"></i></a>
	</nav>