.autocomplete-drop {
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	left: 0;
	top: 100%;
	background: #fff;
}
.drop-box{
	border: 1px solid #adc2bc;
}
.autocomplete-drop ul {
	display: block !important;
	left: 0 !important;
	list-style: none;
	margin: 0;
	padding: 0;
}
.date{display: none;}
.loader{
	width: 100%;
	height: 2px;
	margin: -2px 0 0;
	display: block;
}
.error .error-text,
.error-form .error-message{display: block !important;}
.error .input-wrap,
.error select,
.error .input-control {
	border-bottom-color: #ff5d40 !important;
}
.error .fake-input{border-color: #ff5d40 !important;}
.ui-helper-hidden-accessible{display: none !important;}