
	<article class="page-article">
		<h1>about temptist</h1>
		
		<blockquote>
			<p>&quot;The list is the origin of culture. It's part of the history of art
			and literature. What does culture want? To make infinity comprehensible...
			And how, as a human being, does one face infinity? How does one attempt
			to grasp the incomprehensible? Through lists...&quot;</p>
			<footer>
				<p>Umberto Eco, novelist and philosopher</p>
			</footer>
		</blockquote>
		<div class="article-holder">
		<div class="article-row">
		
		<div class="p-wrap">
			<p>Steady on there Bertie!</p>
				<p>We're not sure we'd go quite that far but we hate that feeling that we
				might be losing track of the things we want.  It's kinda stressful. All
				that precious time spent browsing could be wasted and all of those
				serendipitous shopping discoveries lost forever.</p>
					<p>OK, so list writing is as old as the hills but we believe that the
					true value of lists needs to be unlocked. Why leave your list to get
					dog-eared in your back pocket when you could share it with the world
					(or at the very least with friends and family).</p>
						<p><b>temptist is all about making your list of wants, needs,
						loves and desires work harder:</b></p>									 
		</div>
		</div>
		</div>
		<div class="mini-boxes">		
			<div class="mini-box">
				<div class="text-wrap">
					<i class="icon-star01"></i>
					<p>Quickly convert web browsing experiences into a smart and intelligent
					Temptist that you can slice and dice and your friends can peruse and shop
					from</p>
				</div>
			</div>
			<div class="mini-box">
				<div class="text-wrap">
					<i class="icon-box"></i>
					<p>Get the gifts you want, not the well intentioned things you don't</p>
				</div>
			</div>
			<div class="mini-box">
				<div class="text-wrap">
					<i class="icon-light"></i>
					<p>Be inspired by our
					Tempting Items feed and our guest editor Temptists</p>
				</div>
			</div>
			<div class="mini-box">
				<div class="text-wrap">
					<i class="icon-bell"></i>
					<p>Let temptist remind you of forthcoming special dates for you, your
					friends and family</p>
				</div>
			</div>
		</div>
		<div class="article-holder padded">
		<div class="article-row">
		<div class="p-wrap">
			<p>Oh and it isn't all one way.  You don't need to struggle when choosing presents to buy
			for your family and buddies anymore!</p>
				<p>Enjoy using temptist and let us know what you think!</p>
		</div>
		</div>
		</div>
	</article>

