			<div class="splash-content">
				<article class="page-article">
					<div class="text-center intro-text">
						<h1>contact</h1>
						<p>temptist is a beta site. We're working hard to build a site you'll love, <p>so please let us know what you like and what you don't like.</p>
					</div>
					<section class="form-section">
						<form action="/contact" class="contact-form validate" method="post">
							<fieldset>
								<div class="thanks-box">
									<p>Thank you!</p>
								</div>
								<div class="field-box">
									<div class="form-group required-row">
										<input name="ufname" type="text" class="form-control required" value="Your name">
										<div class="error-text">
											<span class="icon-red_arrow"></span><span>Oops! Please enter a your name</span>
										</div>
									</div>
									<div class="form-group required-row">
										<input name="umail" type="email" class="form-control required-email" value="Your email address">
										<div class="error-text">
											<span class="icon-red_arrow"></span><span>Oops! Please enter your email address</span>
										</div>
									</div>
									<div class="form-group required-row">
										<textarea name="feedback" cols="5" rows="5" class="form-control required">Your feedback</textarea>
										<div class="error-text">
											<span class="icon-red_arrow"></span><span>Oops! Please enter your feedback</span>
										</div>
									</div>
									<div class="button-group">
										<button class="btn btn-green" type="submit">Send your message</button>
									</div>
								</div>
							</fieldset>
						</form>
						<footer class="mail-block">
							<span class="text">Mail us directly at</span>
							<a href="mailto:team@temptist.com">team@temptist.com</a>
						</footer>
					</section>
				</article>
			</div>