  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link media="all" rel="stylesheet" href="/static/css/all.css?v=0.2" />
	<link media="all" rel="stylesheet" href="/static/css/jquery.tagit.css">
	<link media="all" rel="stylesheet" href="/static/css/tagit.ui-zendesk.css">
	<link media="all" rel="stylesheet" href="/static/css/js.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/static/js/jquery-1.11.1.min.js"><\/script>')</script>
	<script src="/static/js/jquery.main.js?v=0.2"></script>
     