			<div class="splash-content">
				<article class="page-article">
					<div class="text-center intro-text">
						<h1>Help</h1>
						<p>If you need help finding your way around then check-out the screen shots and videos below.  If you still need help, or if you have a suggestion for improving temptist, then please email us at <a href="mailto:team@temptist.com">team@temptist.com</a> - we’d love to hear from you.</p>
					</div>
					<ul class="help-block oaccordion smooth-nav">
						<li class="green">
							<span class="title"><a href="#" class="opener">Build your Temptist</a><a href="#build" class="hidden-small">Build your Temptist</a></span>
							<div class="slide">
								<ul class="help-list">
									<li><a href="#add-item">ADD AN ITEM</a></li>
									<li><a href="#tag-comment">TAG AND COMMENT AN ITEM</a></li>
									<li><a href="#edit-item">EDIT ITEM DETAILS</a></li>
									<li><a href="#edit-item">DELETE AN ITEM</a></li>
									<li><a href="#fix-broken-link">FIXING BROKEN LINKS</a></li>
								</ul>
							</div>
						</li>
						<li class="green-lt">
							<span class="title"><a href="#" class="opener">Share</a><a href="#share" class="hidden-small">Share</a></span>
							<div class="slide">
								<ul class="help-list">
									<li><a href="#share-temptist">SHARE MY TEMPTIST</a></li>
									<li><a href="#browse-friend">BROWSE FRIENDS’ TEMPTISTS</a></li>
									<li><a href="#find-friend">FIND FRIENDS</a></li>
								</ul>
							</div>
						</li>
						<li class="green-ld">
							<span class="title"><a href="#" class="opener">Shop</a><a href="#shop" class="hidden-small">Shop</a></span>
							<div class="slide">
								<ul class="help-list">
									<li><a href="#buy-gift">BUY A GIFT FOR A FRIEND</a></li>
									<li><a href="#buy-something">BUY SOMETHING FOR MYSELF</a></li>
								</ul>
							</div>
						</li>
						<li class="green-dk">
							<span class="title"><a href="#" class="opener">Cool Tools</a><a href="#tools" class="hidden-small">Cool Tools</a></span>
							<div class="slide">
								<ul class="help-list">
									<li><a href="#sort-filter">SORT &amp; FILTER</a></li>
									<li><a href="#drop-hint">DROP A HINT</a></li>
									<li><a href="#tempt-friend">TEMPT A FRIEND</a></li>
									<li><a href="#fav">FAVOURITES</a></li>
									<li><a href="#mark-item">MARK AN ITEM PRIVATE</a></li>
								</ul>
							</div>
						</li>
						<li class="green-hdk">
							<span class="title"><a href="#" class="opener">Tempting Items</a><a href="#items" class="hidden-small">Tempting Items</a></span>
							<div class="slide">
								<ul class="help-list">
									<li><a href="#temptist-item">WHAT ARE TEMPTING ITEMS?</a></li>
									<li><a href="#">GUEST TEMPTIST EDITORS</a></li>
								</ul>
							</div>
						</li>
						<li class="green-ddk">
							<span class="title"><a href="#" class="opener">Admin</a><a href="#admin" class="hidden-small">Admin</a></span>
							<div class="slide">
								<ul class="help-list">
									<li><a href="#edit-details">EDIT MY DETAILS</a></li>
									<li><a href="#term-condition">TERMS &amp; CONDITIONS</a></li>
								</ul>
							</div>
						</li>
					</ul>
					<div class="article-holder">
						<div class="article-row" id="build">
							<h2>Build your Temptist</h2>
							<div class="inner-row">
								<h3 id="add-item">Add an item</h3>
								<h4>Add an item using a desktop or a tablet</h4>
								<p>From the My Temptist page click the <span class="btn-add-mini"><span class="plus">+</span> <span>ADD AN ITEM</span></span> button to call up the add item wizard.</p>
								<p>To add an item you need to copy the URL (the web page address) for the web page displaying the item you want and then paste that URL into the add item wizard.  Just open a new tab on your internet browser, browse online as you normally would and then return to the tab which has temptist open once you have copied the URL.</p>
								<p>After copying the URL into the wizard and clicking the red “ADD AN ITEM” button the item will be added to your Temptist.</p>
								<div class="image-holder">
									<a href="#" class="btn btn-cream">Screenshot</a>
									<span data-picture data-alt="image description">
										<span data-src="/static/images/img32.jpg" ></span>
										<span data-src="/static/images/img32-small.jpg" data-media="(max-width:1019px)" ></span> 
										<!--[if (lt IE 9) & (!IEMobile)]>
											<span data-src="/static/images/img32.jpg"></span>
										<![endif]-->
										<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
										<noscript><img src="/static/images/img32.jpg" width="770" height="420" alt="image description" ></noscript>
									</span>
								</div>
								<h4>Add an item using a smartphone</h4>
								<p>The site is optimised for use on a desktop or tablet but when adding an item using a smartphone it is possible to follow the same procedure as for a desktop or tablet. </p>
								
								<h4>Add an item from item tiles</h4>
								<p>As you browse your friends’ Temptists, Tempting Items and the guest editor Temptists you may find something you’d like to add to your own Temptist.  To do so just click on the item and then click on the item’s <span class="btn-align-justify"></span> menu icon to pull up a menu which will always include “Add to my Temptist”.</p>
							</div>
							<div class="inner-row">
								<h3 id="tag-comment">Tag and comment an item</h3>
								<p>Adding tags and comments are powerful ways of making your Temptist more useful.  You can use temptist’s filter tool to search your Temptist, or your friends’ Temptists for tags and key words.</p>
								<p>To add tags type your tag (we recommend keeping it short and to the point but this can be anything you want) in the tag field of the item adding wizard.  Similarly, type comments (for example shoe size or coat colour), into the “other comments” field.</p>
							</div>
							<div class="inner-row">
								<h3 id="edit-item">Edit or delete an item</h3>
								<p>Click on an item to pull up its item menu.  Select “Edit/Remove” to call up the item’s details.  Here you can edit the details (such as the tags and comments) or remove it entirely.</p>
								<div class="image-holder">
									<a href="#" class="btn btn-cream">Screenshot</a>
									<span data-picture data-alt="image description">
										<span data-src="/static/images/img33.jpg" ></span>
										<span data-src="/static/images/img33-small.jpg" data-media="(max-width:1019px)" ></span> 
										<!--[if (lt IE 9) & (!IEMobile)]>
											<span data-src="/static/images/img33.jpg"></span>
										<![endif]-->
										<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
										<noscript><img src="/static/images/img33.jpg" width="770" height="527" alt="image description" ></noscript>
									</span>
								</div>
								<h3 id="fix-broken-link">Fixing broken links</h3>
								<p>If a retailer removes an item from their website or moves it to a new location the link you created when adding the item might break.  If this happens you’ll see something like this holding the item’s place on your Temptist.</p>
								<p>If this occurs we suggest you remove the item from your Temptist, find the item online and add the item to your temptist again as though it were a new item.</p>
								<div class="image-holder">
									<a href="#" class="btn btn-cream">Screenshot</a>
									<span data-picture data-alt="image description">
										<span data-src="/static/images/img34.jpg" ></span>
										<span data-src="/static/images/img34-small.jpg" data-media="(max-width:1019px)" ></span> 
										<!--[if (lt IE 9) & (!IEMobile)]>
											<span data-src="/static/images/img34.jpg"></span>
										<![endif]-->
										<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
										<noscript><img src="/static/images/img34.jpg" width="770" height="417" alt="image description" ></noscript>
									</span>
								</div>
							</div>
						</div>
						<div class="article-row" id="share">
							<h2>Share</h2>
							<h3 id="share-temptist">Share my Temptist</h3>
							<p>Sharing is one of the most powerful tools available to the temptist user.  By sharing your Temptist with friends and family you let them know what you really want.</p>
							<p>You can share your Temptist at any time but we’ll remind you to do so before your special occasions (for example before your birthday).  To share your Temptist simply click the <span class="btn-share-icon">Share</span> button, click the appropriate occasion, and the rest is easy).</p>
							<h3 id="browse-friend">Browse friends’ Temptists</h3>
							<p>Click on the My Friends’ Temptists link at any time to visit your friend’s Temptists.  Here you will find a continuous feed of your friend’s Temptists which can be fun and interesting to browse.  If you’re looking for a particular friend then use the search facility to find them.</p>
							<h3 id="find-friend">Find friends</h3>
							<p>Want to know if one of your friend’s is a temptist user?  Click on the <span class="icon-friends"></span> icon to see a list of your temptist friends.  If they are not there then look for them by typing their name into the search box.  Still can’t find them? Click the “Invite a Friend” button to send them a message suggesting that they sign-up.  From a smartphone you can find friends by tapping on your profile picture (top right) and going from there.</p>
						</div>
						<div class="article-row" id="shop">
							<h2>Shop</h2>
							<h3 id="buy-gift">Buy a gift for a friend</h3>
							<p>First find a friend and visit their Temptist.  Browse the Temptist and click on the item you’d like to buy for them to pull up the item menu.  Select “Give this!” to go ahead and make the purchase.</p>
							<div class="image-holder">
									<a href="#" class="btn btn-cream">Screenshot</a>
									<span data-picture data-alt="image description">
										<span data-src="/static/images/img35.jpg" ></span>
										<span data-src="/static/images/img35-small.jpg" data-media="(max-width:1019px)" ></span> 
										<!--[if (lt IE 9) & (!IEMobile)]>
											<span data-src="/static/images/img35.jpg"></span>
										<![endif]-->
										<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
										<noscript><img src="/static/images/img35.jpg" width="770" height="527" alt="image description" ></noscript>
									</span>
								</div>
							<h3 id="buy-something">Buy something for myself</h3>
							<p>To shop for yourself click on an item in your Temptist and pull up the item menu. Click on “Treat Myself” to go ahead and make the purchase.</p>
						</div>
						<div class="article-row">
							<h2>Cool tools</h2>
							<p>temptist includes a number of cool tools to make things fun and improve your experience.  Let us know by emailing <a href="mailto:team@tempist.com">team@tempist.com</a> if you’ve got ideas of your own!</p>
						</div>
					</div>
					<ul class="help-blocks" id="tools">
						<li id="sort-filter">
							<strong class="title">Sort &amp; Filter</strong>
							<p>The My Temptist and Friends’ Temptist pages include sorting and filtering functions.  Type a tag name or key words into the filter to pull up only those items whose tags or comments contain those tags or key words.  Click on “Sort By Date” and “Sort By Price” links to order your Temptist in date order or ascending order of price.</p>
						</li>
						<li id="drop-hint">
							<strong class="title">Drop a hint</strong>
							<p>Click on an item on your Temptist to call up the item menu. Select <span class="icon-hint"></span> to message a friend telling them exactly what you want!</p>
						</li>
						<li id="tempt-friend">
							<strong class="title">Tempt a friend</strong>
							<p>Click on an item to call up the item menu. Select <span class="icon-send"></span> to message a friend telling them about the item you think might interest them.</p>
						</li>
						<li id="fav">
							<strong class="title">Favourites</strong>
							<p>When adding an item check the “Favourite” box to mark an item as a favourite.  Favourites are easy to find as they have a turned down corner and a gold star!</p>
						</li>
						<li id="mark-item">
							<strong class="title">Mark an item private</strong>
							<p>When adding an item mark an item as private by checking the “Private” box.  Only you can see a private item.  It won’t be visible to the outside world – not even to your friends and family.</p>
						</li>
					</ul>
					<div class="article-holder add">
						<div class="article-row" id="items">
							<h2 id="temptist-item">Tempting Items</h2>
							<p>Tempting Items are a live feed of what’s hot on temptist right now.  You can interact with a Tempting Item just as you can an item you posted. Click on the item to access its item menu and go from there.  </p>
							<p>As another source of inspiration we have a great line up of bloggers, product reviewers, brands and other interesting guests who will share their top tempting items with temptist’s users (stay tuned!).  You’ll see these on the left hand side of the My Temptist and My Friends’ Temptists pages, above the Tempting Items.  As always, click on an item to access its item menu or just enjoy browsing through the picks and reading about the guest.</p>
						</div>
						<div class="article-row" id="admin">
							<h2>Admin</h2>
							<h3 id="edit-details">Edit my details</h3>
							<p>At the top right of the screen you’ll see your profile picture. Click on this and select <span class="icon-admin-edit"></span> .  Here you can: change your profile picture, change your password and edit the occasions when you like to receive gifts.</p>
							<div class="image-holder">
									<a href="#" class="btn btn-cream">Screenshot</a>
									<span data-picture data-alt="image description">
										<span data-src="/static/images/img36.jpg" ></span>
										<span data-src="/static/images/img36-small.jpg" data-media="(max-width:1019px)" ></span> 
										<!--[if (lt IE 9) & (!IEMobile)]>
											<span data-src="/static/images/img36.jpg"></span>
										<![endif]-->
										<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
										<noscript><img src="/static/images/img36.jpg" width="770" height="497" alt="image description" ></noscript>
									</span>
								</div>
							<h3 id="term-condition">Terms and conditions</h3>
							<p>Follow the link to view the <a href="/terms">Terms &amp; Conditions</a>.</p>
						</div>
					</div>
				</article>
			</div>