
	<article>
		
		<h1>The legal stuff</h1>
		
	<p>This website and its products and services are provided by Temptist Limited. These Terms of Service ("Terms") govern your access to and use of the temptist website, products, and services ("Temptist Products"). Please read these Terms carefully, and contact us at team@temptist.com if you have any questions. By accessing or using the Temptist products, you agree to be bound by these Terms.</p>
				
	<h2>General Terms and Conditions</h2>
	
	<p><p>1.	Access and License<p>
		
	<p>You may use the Temptist Products only if you can form a binding contract with Temptist Limited, and only in compliance with these Terms and all applicable laws. When you create your temptist account, you must provide us with accurate and complete information. Any use or access by anyone under the age of 13 is prohibited. If you open an account on behalf of a company, organization, or other entity, then (a) "you" includes you and that entity, and (b) you represent and warrant that you are authorized to grant all permissions and licenses provided in these Terms and bind the entity to these Terms, and that you agree to these Terms on the entity's behalf. Some of the Temptist Products may be software that is downloaded to your computer, phone, tablet, or other device. You agree that we may automatically upgrade the Temptist Products, and these Terms will apply to such upgrades.</p>
	
	<p>Subject to these Terms and our policies we grant you a limited, non-exclusive, non-transferable, and revocable license to use the Temptist Products.</p>
	
<p>Temptist allows you to post content, including photos, comments, links, and other materials. Anything that you post or otherwise make available on the Temptist Products is referred to as "User Content." You retain all rights in, and are solely responsible for, the User Content you upload or add to temptist. <p>
 
<p>You grant temptist and its users a non-exclusive, royalty-free, transferable, sublicensable, worldwide license to use, store, display, reproduce, modify, create derivative works, perform, and distribute your User Content on temptist solely for the purposes of operating, developing, providing, and using the Temptist Products. Nothing in these Terms shall restrict other legal rights Temptist Limited may have to User Content, for example under other licenses. We reserve the right to remove or modify User Content for any reason, including User Content that we believe violates these Terms or the temptist policies. <p>
	
	 

<p> Following termination or deactivation of your account, or if you remove any User Content from temptist, we may retain your User Content for a commercially reasonable period of time for backup, archival, or audit purposes. Furthermore, temptist and its users may retain and continue to use, store, display, reproduce, add, modify, create derivative works, perform, and distribute any of your User Content that other users have stored or shared through temptist. <p>

<p>We’d love to hear from you if you have any thoughts about the site and really appreciate the feedback. If you choose to submit comments, ideas or feedback, you agree that we are free to use them without any restriction or compensation to you. By accepting your submission, Temptist does not waive any rights to use similar or related feedback previously known to Temptist, or developed by its employees, or obtained from sources other than you. <p>


<p><p>2. Security <p>

<p>We care about the security of our users. While we work to protect the security of your content and account, Temptist cannot guarantee that unauthorized third parties will not be able to defeat our security measures. Please notify us immediately of any compromise or unauthorized use of your account. <p>

<p><p>3. Third-Party Links, Sites, and Services <p>

<p>Our Products may contain links to third-party websites, advertisers, services, special offers, or other events or activities that are not owned or controlled by Temptist. We do not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access any third party website, service, or content from Temptist, you do so at your own risk and you agree that Temptist will have no liability arising from your use of or access to any third-party website, service, or content. <p>

<p><p>4. Termination

Temptist may terminate or suspend this license at any time, with or without cause or notice to you. Upon termination, you continue to be bound by Sections 3 and 5-10 of these Terms. <p>

<p><p>5. Indemnity
If you use our Products for commercial purposes in violation of these terms, as determined in our sole and absolute discretion, you agree to indemnify and hold harmless Temptist and its officers, directors, employees and agents, from and against any claims, suits, proceedings, disputes, demands, liabilities, damages, losses, costs and expenses, including, without limitation, reasonable legal and accounting fees (including costs of defence of claims, suits or proceedings brought by third parties), in any way related to (a) your access to or use of our Products, (b) your User Content, or (c) your breach of any of these Terms. <p>

	<p><p>6. Disclaimers <p>

<p>The Products and all included content are provided on an "as is" basis without warranty of any kind, whether express or implied. <p>
 
<p>TEMPTIST SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. <p>
 
<p>Temptist takes no responsibility and assumes no liability for any User Content that you or any other user or third party posts or transmits using our Products. You understand and agree that you may be exposed to User Content that is inaccurate, objectionable, inappropriate for children, or otherwise unsuited to your purpose. <p>

<p><p>7. Limitation of Liability <p>
<p><p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, TEMPTIST SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE PRODUCTS; (B) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE PRODUCTS, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; OR (C) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT. IN NO EVENT SHALL TEMPTIST'S AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE PRODUCTS EXCEED FIFTY POUNDS STERLING (£50.00) <p>

<p><p>8. Arbitration <p>
<p>For any dispute you have with Temptist, you agree to first contact us and attempt to resolve the dispute with us informally. If Temptist has not been able to resolve the dispute with you informally, we each agree to resolve any claim, dispute, or controversy (excluding claims for injunctive or other equitable relief) arising out of or in connection with or relating to these Terms by binding arbitration by the London Court of International Arbitration. <p>

<p><p>9. Governing Law and Jurisdiction <p>

<p>These Terms shall be governed by the laws of England. We each agree to submit to the non-exclusive jurisdiction of the courts of England, for any actions not subject to Section 8 (Arbitration). <p>
 
<p>Our Products are controlled and operated from the United Kingdom, and we make no representations that they are appropriate or available for use in other locations. <p>

<p><p>10. General Terms <p>

<p>Notification Procedures and changes to these Terms. Temptist reserves the right to determine the form and means of providing notifications to you, and you agree to receive legal notices electronically if we so choose. We may revise these Terms from time to time and the most current version will always be posted on our website. If a revision, in our sole discretion, is material we will notify you. By continuing to access or use the Products after revisions become effective, you agree to be bound by the revised Terms. If you do not agree to the new terms, please stop using the Products. <p>

<p>Assignment. These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Temptist without restriction. Any attempted transfer or assignment in violation hereof shall be null and void. <p>

<p>Entire Agreement/Severability. These Terms and any amendments and any additional agreements you may enter into with Temptist in connection with the Products, shall constitute the entire agreement between you and Temptist concerning the Products. If any provision of these Terms is deemed invalid, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full force and effect. <p>

<p>No Waiver. No waiver of any term of these Terms shall be deemed a further or continuing waiver of such term or any other term, and Temptist's failure to assert any right or provision under these Terms shall not constitute a waiver of such right or provision. <p>
	
<p><p>	<h2>Privacy</h2>
	
	<p><p>What information do we collect? <p>
<p>We collect information in a few different ways: <p><p>

<p>1. When you give it to us or give us permission to obtain it<p>

<p>When you sign up for or use our products, you voluntarily give us certain information. This can include your name, profile photo, comments, likes, email address you used to sign up, and any other information you provide us. <p>
<p>You also may give us permission to access your information in other services. For example, you may link your Facebook or Twitter account to Temptist, which allows us to obtain information from those accounts (like your friends or contacts). The information we get from those services often depends on your settings or their privacy policies, so be sure to check what those are. <p><p>

<p>2. We also get technical information when you use our products<p>

<p>These days, whenever you use a website, mobile application, or other internet service, there’s certain information that almost always gets created and recorded automatically. The same is true when you use our products. Here are some of the types of information we collect: <p>
<p>-  Log data. When you use temptist, our servers automatically record information (“log data”), including information that your browser sends whenever you visit a website or your mobile app sends when you’re using it. This log data may include your Internet Protocol address, the address of the web pages you visited that had temptist features, browser type and settings, the date and time of your request, how you used temptist, and cookie data. <p>
 
<p>- Cookie data. Depending on how you’re accessing our products, we may use “cookies” (a small text file sent by your computer each time you visit our website, unique to your temptist account or your browser) or similar technologies to record log data. When we use cookies, we may use “session” cookies (that last until you close your browser) or “persistent” cookies (that last until you or your browser delete them). For example, we may use cookies to store your language preferences or other temptist settings so you don‘t have to set them up every time you visit temptist. Some of the cookies we use are associated with your temptist account (including personal information about you, such as the email address you gave us), and other cookies are not. <p>
 
<p>- Device information. In addition to log data, we may also collect information about the device you’re using temptist on, including what type of device it is, what operating system you’re using, device settings, unique device identifiers, and crash data. Whether we collect some or all of this information often depends on what type of device you’re using and its settings. For example, different types of information are available depending on whether you’re using a Mac or a PC, or an iPhone or an Android phone. To learn more about what information your device makes available to us, please also check the policies of your device manufacturer or software provider. <p><p>
<p>3. Our partners and advertisers may share information with us<p>
<p>Sometimes our partners may let us collect information when you use their services, or may share with us the information they collect. For example online advertisers typically share information with the websites or apps where they run ads to measure and/or improve those ads. We also receive this information, which may include information like whether clicks on ads led to purchases or a list of criteria to use in targeting ads. <p><p>
<p>How do we use the information we collect? <p>
<p>We use the information we collect to provide our products to you and make them better, develop new products, and protect temptist and our users. For example, we may log how often people use two different versions of a product, which can help us understand which version is better. <p>
<p>We also use the information we collect to offer you customized content, including: <p>
<p>- suggesting Tempting Items or featured Temptists you might like. For example, if you’ve indicated that you’re interested in cooking or visited recipe websites that have temptist features, we may suggest food-related products or guests or other users that we think you might like. <p>
 
<p>- Showing you ads you might be interested in. <p> 
<p>We also use the information we collect to: <p>
<p>- Send you updates (such as when certain activity, like comments, happens on temptist), newsletters, marketing materials and other information that may be of interest to you. For example, we may send you weekly updates that include guest temptist information you may like. You can decide to stop getting these updates by notifying us in writing. <p>
 
<p>- Help your friends and contacts find you on temptist. For example, if you sign up using a Facebook account, we may help your Facebook friends find your account on temptist when they first sign up for temptist. Or, we may allow people to search for your account on temptist using your email address. <p>
 
<p>- Respond to your questions or comments. <p>
<p>The information we collect may be “personally identifiable” (meaning it can be used to specifically identify you as a unique person) or “non-personally identifiable” (meaning it can’t be used to specifically identify you). We use both types of information, and combinations of both types, as described above. We may use or store information wherever temptist does business, including countries outside your own. <p><p>
<p>What choices do you have about your information? <p>
<p>Our goal is to give you simple and meaningful choices over your information. If you have a temptist account, many of the choices you have on temptist are built directly into the product or your account settings. For example, you can: <p>
<p>- Access and change information in your profile page at any time. <p>
 
<p>- Link or unlink your temptist account from an account on another service (e.g., Facebook or Twitter). For some services (like Facebook), you can also choose whether or not to publish your activity on temptist to that service. <p>
 
<p>- Make any items on your Temptist private so only you can see it. <p>
 
<p>- Close your account at any time. When you close your account, we’ll deactivate it and remove your content from temptist. We may retain archived copies of your information as required by law or for legitimate business purposes (including to help address fraud and spam). <p>
<p>You may have choices available to you through the device or software you use to access temptist. For example: <p>
<p>- The browser you use may provide you with the ability to control cookies or other types of local data storage. <p>
 
<p>- Your mobile device may provide you with choices around how and whether location or other data is shared with us. <p>
<p>To learn more about these choices, please see the information provided by the device or software provider. <p><p>
<p>How and when do we share information? <p>
<p>temptist is a tool people use to build and create lists of all the things they want to buy online and to share that information. When you create a Temptist, anyone who has your email address can view it. You may also provide us with profile page information that anyone can view. The other limited instances where we may share your personal information include: <p>
<p>- When we have your consent. This includes sharing information with other services (like Facebook or Twitter) when you’ve chosen to link to your temptist account to those services or publish your activity on temptist to them. For example, you can choose to publish Your Temptist to Facebook or Twitter. <p>
 
<p>- Online advertisers typically use third party companies to audit the delivery and performance of their ads on websites and apps. We may also allow these companies to collect this information on temptist. <p>
<p>- We may employ third party companies or individuals to process personal information on our behalf based on our instructions and in compliance with these terms. For example, we may share data with a security consultant to help us get better at identifying spam. In addition, some of the information we request may be collected by third party providers on our behalf. <p>
<p>- If we believe that disclosure is reasonably necessary to comply with a law, regulation or legal request; to protect the safety, rights, or property of the public, any person, or temptist; or to detect, prevent, or otherwise address fraud, security or technical issues. <p>
 
<p>- We may engage in a merger, acquisition, bankruptcy, dissolution, reorganization, or similar transaction or proceeding that involves the transfer of the information described in these terms. <p>
<p>- We may also share aggregated or non-personally identifiable information with our partners, advertisers, or others. For example, we may tell an advertiser on temptist how many people added a tempting item to their list or added an item from a friend’s Temptist or guest’s Temptist. <p><p>
<p>Our policy on children’s information<p>
<p>temptist is not directed to children under 13. If you learn that your minor child has provided us with personal information without your consent, please contact us. <p><p>
<p>How do we make changes to our privacy terms? <p>
<p>We may change this policy from time to time, and if we do we’ll post any changes on this page. If you continue to use temptist after those changes are in effect, you agree to the revised policy. If the changes are significant, we may provide more prominent notice or get your consent as required by law. <p>
	
	</article>
