			<div class="mail-block">
				<span class="text">temptist is a beta site.  We're working hard to build a site you'll love, <p>so please let us know what you like and what you don't like.<p></span>
				<strong>We’d love to hear from you !</strong>
				<a href="mailto:&#116;&#101;&#097;&#109;&#064;&#116;&#101;&#109;&#112;&#116;&#105;&#115;&#116;&#046;&#099;&#111;&#109;">&#116;&#101;&#097;&#109;&#064;&#116;&#101;&#109;&#112;&#116;&#105;&#115;&#116;&#046;&#099;&#111;&#109;</a>
			</div>
