<% if( ! temptist[ix].is_private || (locals.authed && temptist[ix].user_id == locals.authed.id)) { %>
				<div class="item-box <%= locals.dropped && locals.dropped == temptist[ix].id ? ' dropped' : '' %>  <%= locals.tempted && locals.tempted == temptist[ix].id ? ' tempted' : '' %>" id="slab<%= temptist[ix].id %>">
					<% if((locals.dropped && locals.dropped == temptist[ix].id) || (locals.tempted && locals.tempted == temptist[ix].id)) { %>
					<div class="temp-item">
						<strong><%= (locals.dropped && locals.dropped == temptist[ix].id) ? 'Dropped hint' : 'Tempting item' %></strong>
					</div>
					<% } %>
					<% if(temptist[ix].is_favourite) { %>
					<span class="favourite-box">
						<i class="icon-star"></i>
					</span>
					<% } %>
					<div class="img-holder">
						<a href="/edit/<%= temptist[ix].id %>"><img src="<%= temptist[ix].img_url %>" height="188" width="220" alt="<%= temptist[ix].title %>"></a>
					</div>
					<div class="desc-wrap">
						<h2 class="item-title"><a href="/edit/<%= temptist[ix].id %>"><%= temptist[ix].title %></a></h2>
						<p class="item-comments"><%= temptist[ix].comments %>
						<% if(temptist[ix].is_private) { %>
						<span class="item-private">[Private]</span>
						<% } %>
						<span class="item-tags"><%= temptist[ix].tags %></span></p>
						<% if(temptist[ix].price) { %>
						<strong class="price"><span><%= temptist[ix].price.symbol %></span> <em class="priceNum"><%= temptist[ix].price.amount %></em></strong>
						<% } %>
						<span class="date"><%= fns.dateFormat(temptist[ix].created, '%Y-%m-%d %H:%M', true) %></span>
					</div>
					<div class="item-darken">&nbsp;</div>
					<div class="item-overlay">
					  <a class="item-close" href="#"><i class="icon-cross"></i></a>		
					  <ul>
					  <% if(locals.authed) {
					  		if(temptist[ix].user_id == locals.authed.id) {
					   %>
					    <!-- There is an authenticated User and it's their own Listing -->	  
					    <!-- view sale alert, if there is one -->
					    <li><a href="/drop-a-hint/<%= temptist[ix].id %>" class="item-hint">Drop a hint <i class="icon-thunder"></i></a></li>
					    <li><a href="<%= temptist[ix].url %>" target="_blank" class="item-treat">Treat myself <i class="icon-cake01"></i></a></li>
					    <li><a href="/tempt-a-friend/<%= temptist[ix].id %>" class="item-tempt">Tempt a friend <i class="icon-plane"></i></a></li>
					    <li><a href="/edit/<%= temptist[ix].id %>" class="item-edit">Edit <i class="icon-pencil"></i></a></li>
					  <%    } else {
					  			if(locals.authed.items.indexOf(temptist[ix].id) > -1) { %>
					  	<!-- There is an authenticated User and they have this item in their own Listing -->
					  	<% if(temptist[ix].can_give) { %>
					  	<li><a href="<%= temptist[ix].url %>" target="_blank" class="item-treat">Give this! <i class="icon-gift"></i></a></li>
					  	<% } %>
					    <li><a href="/tempt-a-friend/<%= temptist[ix].id %>" class="item-tempt">Tempt a friend <i class="icon-plane"></i></a></li>
					    <li><a href="<%= temptist[ix].url %>" target="_blank" class="item-treat">Treat myself <i class="icon-cake01"></i></a></li>
					  <% 		} else { %>
					  <!-- There is an authenticated User and they DON'T have this item in their own Listing -->
					  	<% if(temptist[ix].can_give) { %>
					  	<li><a href="<%= temptist[ix].url %>" target="_blank" class="item-treat">Give this! <i class="icon-gift"></i></a></li>
					  	<% } %>
					    <li><a href="/tempt-a-friend/<%= temptist[ix].id %>" class="item-tempt">Tempt a friend <i class="icon-plane"></i></a></li>
					    <li><a href="/add-to-mine/<%= temptist[ix].id %>" class="item-add-to-mine">Add to my temptist <i class="icon-gift"></i></a></li>
					  <%        }
					  		}
					  	} else { %>
					  	<!-- there is no authenticated User -->
					  	<li><a href="<%= temptist[ix].url %>" target="_blank" class="item-treat">Give this! <i class="icon-gift"></i></a></li>
					    <li><a href="/add-to-mine/<%= temptist[ix].id %>" class="item-add-to-mine">Add to my temptist <i class="icon-check"></i></a></li>
					  <% } %>
					  </ul>
					</div>
				</div>
<% } %>