				<div class="item-box tempt" id="slab<%= temptings[ix].id %>">
					<div class="temp-item">
						<strong>Tempting item</strong>
					</div>
					<div class="img-holder">
						<a href="/edit/<%= temptings[ix].id %>"><img src="<%= temptings[ix].img_url %>" height="188" width="220" alt="<%= temptings[ix].title %>"></a>
					</div>
					<div class="desc-wrap">
						<h2 class="item-title"><%= temptings[ix].title %></h2>
						<p class="item-comments"><%= temptings[ix].comments %>
						<span class="item-tags"><%= temptings[ix].tags %></span></p>
						<% if(temptings[ix].price) { %>
						<strong class="price"><span><%= temptings[ix].price.symbol %></span> <em class="priceNum"><%= temptings[ix].price.amount %></em></strong>
						<% } %>
						<span class="date"><%= fns.dateFormat(temptings[ix].created, '%Y-%m-%d %H:%M', true) %></span>
					</div>
					<div class="item-darken">&nbsp;</div>
					<div class="item-overlay">
					  <a class="item-close" href="#"><i class="icon-cross"></i></a>		
					  <ul>
					  <%  if(locals.authed && locals.authed.items.indexOf(temptings[ix].id) > -1) { %>
					  	<!-- There is an authenticated User and they have this item in their own Listing -->
					  	<% if(temptings[ix].can_give) { %>
					  	<li><a href="<%= temptings[ix].url %>" target="_blank" class="item-treat">Give this! <i class="icon-gift"></i></a></li>
					  	<% } %>
					    <li><a href="/tempt-a-friend/<%= temptings[ix].id %>" class="item-tempt">Tempt a friend <i class="icon-plane"></i></a></li>
					    <li><a href="<%= temptings[ix].url %>" target="_blank" class="item-treat">Treat myself <i class="icon-cake01"></i></a></li>
					  <% 		} else { %>
					  <!-- There is an authenticated User and they DON'T have this item in their own Listing -->
					  	<% if(temptings[ix].can_give) { %>
					  	<li><a href="<%= temptings[ix].url %>" target="_blank" class="item-treat">Give this! <i class="icon-gift"></i></a></li>
					  	<% } %>
					    <li><a href="/tempt-a-friend/<%= temptings[ix].id %>" class="item-tempt">Tempt a friend <i class="icon-plane"></i></a></li>
					    <li><a href="/add-to-mine/<%= temptings[ix].id %>" class="item-add-to-mine">Add to my temptist <i class="icon-gift"></i></a></li>
					  <% 
					  } %>
					  </ul>					  
					</div>
				</div>
