<div>
  <div class="item-holder hold" id="container1">
  <% if(locals.temptor) { %>
    <% include temptor.ejs %>
  <% } %>
  <% if(locals.temptings) { %>
    <% for(var ix = 0; ix < locals.temptings.length; ix++) { %>
      <% include tempting.ejs %>
    <% } %>
  <% } %>
  <% if(locals.guesttemptings) { %>
    <% for(var ix = 0; ix < locals.guesttemptings.length; ix++) { %>
      <% include guestitem.ejs %>
    <% } %>
  <% } %>
  </div>
  <div class="item-holder" id="container">
  <% for(var ix = 0; ix < temptist.length; ix++) { %>
    <% include slab.ejs %>
  <% } %>
  
  </div>
</div>