<% if(locals.temptor && locals.temptor.name && locals.temptor.name.indexOf('{') != 0) { %>
				<div class="item-box guest tempt">
					<header class="heading">
						<span>GUEST TEMPTIST</span>
						<strong><%= temptor.name %></strong>
					</header>
					<ul class="contact-info">
						<li>
						<% if(locals.temptor.website) { %>
							<a href="<%= locals.temptor.website %>" target="_blank"><%= locals.temptor.website_anchor %></a>
						<% } %>
						</li>
						<li class="twitter">
						<% if(locals.temptor.twitter) { %>
							<a href="<%= locals.temptor.twitter %>" target="_blank"><i class="icon-twitter"></i></a>
						<% } %>
						</li>
						<li class="facebook">
						<% if(locals.temptor.facebook) { %>
							<a href="<%= locals.temptor.facebook %>" target="_blank"><i class="icon-facebook"></i></a>
						<% } %>
						</li>
					</ul>
					<div class="img-holder">
						<img src="<%= locals.temptor.profile_img_url %>" height="189" width="219" alt="<%= temptor.name %>">
					</div>
					<div class="desc-wrap">
					    <% if(locals.temptings && locals.temptings.length > 0) { %>
						<h2>HERE ARE <%= temptor.nickname %>'S TOP <%= locals.temptings.length %> TEMPTING ITEMS</h2>
						<% } %>
						<% if(locals.temptor.metadata) { %>
						<p><%= locals.temptor.metadata %></p>
						<% } %>
						<span class="date">2099-12-31 23:59</span>
					</div>
				</div>
<% } %>