			<article class="text-center splash-article">
				<h1>take a tour</h1>
				<p><strong>temptist</strong> is where wish lists get social. Save all the things you want to buy online in one place, share them with friends and find brilliant new things to tempt you, as curated by our guest editors and other users who like what you like.  </p>
			</article>
			<div class="article-wrap">
				<div class="image-holder"><img src="/static/images/img37.jpg" alt="image description"></div>
				<div class="text-wrap">
					<i class="icon-star01"></i>
					<h2>All your wishes in  one place</h2>
					<p>temptist is an independent site that allows you to add anything you want from any brand or online store.  No need to maintain multiple wish and gift lists on different retailers’ websites. Put everything you want on your Temptist, tag items with key descriptors and maintain and sort different lists for different purposes.</p>
					<a href="/signup" class="btn btn-green btn-large">SIGN UP NOW</a>
				</div>
			</div>
			<div class="manual-section">
				<h2>Beautiful and really easy to use</h2>
				<p>Find the things that tempt you online, add them to your Temptist and share them with friends.  <br>Simple.</p>
				<ul class="manual-methods">
					<li>
						<div class="dtable">
							<span class="num">1</span>
							<h3>Find something  you like</h3>
							<p>Browse the web for the item you want and copy its URL (the web address). </p>
							<div class="tfooter">
								<div class="image-holder">
									<img src="/static/images/placeholder01.png" alt="image description">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="dtable">
							<span class="num">2</span>
							<h3>Add it to your  Temptist</h3>
							<p>Paste the URL you’ve just copied into the Add an item window. The item will be added to your Temptist. The available photographs of the item, its title and price, will be added by temptist.</p>
							<div class="tfooter">
								<div class="image-holder">
									<img src="/static/images/placeholder02.png" alt="image description">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="dtable">
							<span class="num">3</span>
							<h3>Adjust, <br>tag &amp; comment</h3>
							<p>You can modify the information grabbed by temptist and add tags or comments. These will later become handy when filtering your Temptist, or your friends’ Temptists, by tags and key words.</p>
							<div class="tfooter">
								<div class="image-holder">
									<img src="/static/images/placeholder03.png" alt="image description">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="dtable">
							<span class="num">4</span>
							<h3>Stand back &amp; <br>admire!</h3>
							<p>Congratulations! You just started your very own Temptist. But don’t stop now. Come back and check out our regularly updated guest edits and tempting items feed. Add items whenever you see something new that tempts you.</p>
							<div class="tfooter">
								<div class="image-holder">
									<img src="/static/images/placeholder04.png" alt="image description">
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="dtable">
							<span class="num">5</span>
							<h3>Socialise, share, hint <br>and inspire!</h3>
							<p>Socialising sits right at the heart of temptist. You can recommend items to friends and share your Temptist with friends and family - let them know what you really want. We’ll remind you to do so before your special occasions.</p>
							<div class="tfooter">
								<div class="image-holder">
									<img src="/static/images/placeholder05.png" alt="image description">
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="text-block">
				<div class="text-wrap">
					<h2>Ready to start your Temptist ?</h2>
					<p>Sign up now. <br>It's free, easy &amp; takes only 30 seconds</p>
					<a href="/signup" class="btn btn-green">Sign up now</a>
				</div>
				<div class="question-block">
					<h3>Any questions ?</h3>
					<p>If you have any questions regarding Temptist, just contact us at <a href="mailto:team@temptist.com">team@temptist.com</a>. We’re here to answer any of your questions.</p>
				</div>
			</div>
			<div class="manual-section dark">
				<h2>Inspiration through sharing</h2>
				<p>We’ve said it already: temptist is about sharing.  We think there’s tonnes of value in <br>drawing inspiration from what other folks have got on their Temptists.</p>
				<ul class="sharing-box item-holder">
					<li class="align-right">
						<div class="item-box">
							<div class="img-holder">
								<a href="#"><img width="188" height="166" alt="image description" src="/static/images/img39.jpg"></a>
							</div>
							<div class="desc-wrap">
								<h2><a href="#">RETRO STYLE HEADPHONES</a></h2>
								<p>High fidelity sound never looked so good</p>
								<strong class="price"><span>£</span> <em class="priceNum">199</em></strong>
							</div>
							<strong class="footer-text">Luke Johnson</strong>
						</div>
						<div class="text-wrap">
							<h3>My Friends’ Temptists</h3>
							<p>Let your friends know they can check out your Temptist and check out their Temptists too - whether to find inspiration, buy the perfect gift or just because you’re curious! </p>
						</div>
					</li>
					<li>
						<div class="item-box mark">
							<div class="temp-item">
								<strong>TEMPTING ITEM</strong>
							</div>
							<div class="img-holder">
								<a href="#"><img width="191" height="168" alt="image description" src="/static/images/img40.jpg"></a>
							</div>
							<div class="desc-wrap">
								<h2><a href="#">Sigh no more vinyl</a></h2>
								<p>Mumford & Sons</p>
								<strong class="price"><span>£</span> <em class="priceNum">15</em></strong>
							</div>
						</div>
						<div class="text-wrap">
							<h3>Tempting Items</h3>
							<p>We believe so much in the power of sharing that we’ve also conceived Tempting Items.  These are items which are trending, right now, on temptist. </p>
						</div>
					</li>
					<li class="align-right">
						<div class="item-box tempt">
							<div class="temp-item">
								<span class="thumb-holder">
									<a href="#"><img width="37" height="36" alt="image description" src="/static/images/thumbnail01.jpg"></a>
								</span>
								<strong>TEMPTING ITEM</strong>
							</div>
							<div class="img-holder">
								<a href="#"><img width="221" height="203" alt="image description" src="/static/images/img04.jpg"></a>
							</div>
							<div class="desc-wrap">
								<h2><a href="#">HIGH TOP SNEAKERS IN RED, WHITE & BLACK</a></h2>
								<p>Size 40</p>
								<strong class="price"><span>£</span> <em class="priceNum">47</em></strong>
							</div>
						</div>
						<div class="text-wrap">
							<h3>Guest Editors</h3>
							<p>We also have regular guest Temptists where bloggers, product reviewers and other interesting people share their top tempting items with you. </p>
						</div>
					</li>
				</ul>
				<div class="add-text-box">
					<p>Browse these items, be inspired, add them to your Temptist, make recommendations <br>and drop hints.</p>
					<a href="/signup" class="btn btn-green">Sign up now</a>
				</div>
			</div>
			<div class="features-section">
				<div class="text-wrap">
					<h2>Cool Tools</h2>
					<p>Whether your browsing items on your Temptist, a friend or guest’s Temptist, or <br>flicking through Tempting Items, temptist includes a number of cool tools to make <br>things fun and improve your experience.</p>
					<a href="/signup" class="btn btn-green">Sign up now</a>
				</div>
				<ul class="features-list">
					<li>
						<span class="icon"><i class="ico-hint"></i></span>
						<h3>Drop a <br>Hint</h3>
						<p>Click on an item on your Temptist to call up the item menu. Select DROP A HINT to message a friend telling them exactly what you want!</p>
					</li>
					<li>
						<span class="icon"><i class="ico-send"></i></span>
						<h3>Tempt a <br>Friend</h3>
						<p>Click on an item to call up the item menu. Select TEMPT A FRIEND to message a friend telling them about the item you think they really should have.</p>
					</li>
					<li>
						<span class="icon"><i class="ico-filter"></i></span>
						<h3>Sort &amp; <br>Filter</h3>
						<p>Use tags when adding items. Sort, find and bring items together visually using tags and key words. Sort by date or by price.</p>
					</li>
					<li>
						<span class="icon"><i class="ico-gift"></i></span>
						<h3>Give This &amp; <br>Treat Myself</h3>
						<p>Click on an item to call up the item menu. Select GIVE THIS or TREAT MYSELF to click directly through to the retailer site and purchase the item.</p>
					</li>
					<li>
						<span class="icon"><i class="ico-fav"></i></span>
						<h3>Favourite <br>Items</h3>
						<p>When adding an item check the “Favourite” box to mark an item as a favourite.  Favourites are easy to find as they have a turned down corner and a gold star!</p>
					</li>
					<li>
						<span class="icon"><i class="ico-lock"></i></span>
						<h3>Mark an Item as <br>Private</h3>
						<p>When adding an item check the "Private" box, so you’ll be the only one who can see it. It won’t be visible to the outside world - not even to your friends and family.</p>
					</li>
				</ul>
			</div>
