<% include header %>

	<main role="main" id="main">
		<div class="content-holder p404">
			<img src="/static/images/404.png" />
			<article>
		
				<h1>page not found</h1>
				
				<h2>Oops, you've tried to access a non-existant page !</h2>
				
				<p>Please go back to the <a href="/">homepage</a> or try again after checking
				that you've type the correct url.</p>
				
			</article>
			
			<% include ../common/mail %>
			
		</div>
	</main>

<% include footer %>