<% include header-away %>

<% include tabs-away %>

<main role="main" id="main">
	<div class="main-holder sort-block">
		<% include filter-away %>
		
		<% if(temptist.length > 0) {  %>

			<% include ../common/temptist %>
			
		<% } else { %>
			
			<div class="form-holder">
				<h1><%= temptee.nickname %>'s temptist is empty</h1>
				<span class="note-text">Why not find something <%= temptee.nickname %> might like amongst our Tempting Items</span>
			</div>

			<% include ../common/temptist %>
		
		<% } %>
		
	</div>
</main>

<% include footer %>