			<div class="action-row my-friend">
				<div class="button-holder">
				    <div class="img-holder">
							<img src="<%= temptee.profile_img_url %>" width="60" height="auto" />
					</div>
					<strong class="title">
						<sup><%= temptee.nickname %>'s</sup>temptist
					</strong>
				</div>
				
				<form action="#" class="search-form">
					<fieldset>
						<input class="input-control item-search" type="search" placeholder="Start typing to filter the items">
						<button type="submit"><i class="icon-zoom"></i></button>
					</fieldset>
				</form>
				<div class="sort-holder">
					<a href="#" class="sort-opener"><i class="icon-sort-arrow"></i></a>
					<ul class="sort-item" id="sorts">
						<li class="active">
							<a data-sort-value="date" href="#"><i class="icon-calender"></i><span>Sort By Date</span></a>
						</li>
						<li>
							<a data-sort-value="priceNum" href="#"><i class="icon-tag"></i><span>Sort By Price</span></a>
						</li>
					</ul>
				</div>
			</div>