	<footer id="footer">
		<div class="term-holder">
			<nav class="footer-nav">
				<ul>
					<li><a href="/tour" title="Watch a short video that shows you what you can do on temptist"><span>Take a </span>tour</a></li>
					<li><a href="/about" title="Discover the temptist story">About</a></li>
					<li><a href="/contact" title="Contact the temptist team">Contact <span>us</span></a></li>
					<li class="hidden-mobile"><a href="/legal" title="Terms and conditions, Privacy policy and Cookie policy governing the use of temptist.com">The legal stuff</a></li>
					<li class="hidden-tablet"><a href="/login" title="Login to your temptist">Login</a></li>
				</ul>
			</nav>
			<span class="hidden-tablet text-legal"><a href="/legal" title="Terms and conditions, Privacy policy and Cookie policy governing the use of temptist.com">The legal stuff</a></span>
			<span class="copy-text">copyright &copy; 2015 Temptist Limited</span>
		</div>
		<ul class="social-networks">
			<li><a href="https://www.facebook.com/temptistpage" target="_blank"><i class="icon-facebook01"></i></a></li>
			<li><a href="https://twitter.com/MyTemptist" target="_blank"><i class="icon-twitter01"></i></a></li>
			<li><a href="https://plus.google.com/104535712552104781056/about" target="_blank"><i class="icon-google-plus"></i></a></li>
			<li><a href="https://www.linkedin.com/company/temptist" target="_blank"><i class="icon-linkedin"></i></a></li>
		</ul>
	</footer>
</div>
</body>
</html>