	<div class="register-holder">
		<div class="heading">
			<h1>Reset your password</h1>
			<span class="text">We've sent an email to <%= message.substring(9) %><br/>Please follow the link in the email to get restarted.</span>
			<span class="text sub">Check your spam filter if you can't find the email and <a href="/contact">contact us</a> if you still can't find it.</span>
		</div>
	</div>