	<div class="register-holder">
		<div class="heading">
			<h1>Reset your password</h1>
			<span class="text">OK, you've forgotten your password. We'll send you a link to create
				a new one. Please enter your email address below.</span>
		</div>

		<form action="/forgot-password" method="post" class="validate-form <%= (message.length > 0 ? 'error-form' : '') %>">
			<div class="login-frame">
				<div class="login-box">
					<div class="error-message">
					<% if (message.length > 0) { %>
						<%= message %>
					<% } else { %>
					Please provide the missing information to continue.
					<% } %>
					</div>
					<div class="valid-row">
						<div class="input-holder">
							<div class="input-wrap">
								<input name="email" id="email" class="input-control required-email" type="email" value="" placeholder="Your email address">
							</div>
						</div>
						<div class="error-text"><span class="icon-red_arrow"></span><span>Please enter your email</span></div>
					</div>
					<div class="btn-holder">
						<button type="submit" class="btn-share">Reset password</button>
					</div>
				</div>
				<div class="footing">
					<p><a href="/login">Login</a> or <a href="/signup">create an account</a> if you don't have one.</p>
				</div>
			</div>
		</form>

	</div>