<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>temptist</title>

	<% include ../common/head.ejs %>
</head>
<body class="authed">
<% include ../common/gtm.ejs %>
<div id="wrapper">
	<header id="header">
		<div class="header-holder">
			<nav class="notification-nav">
				<a href="/login" title="Login to your temptist" class="btn-help login">Login</a>
			</nav>
			<div class="logo">
				<a href="/"><img src="/static/images/logo.png" height="32" width="103" alt="temptist"></a>
			</div>
			<a href="/tour" class="btn-help">Take a tour</a>
		</div>
	</header>