<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>temptist</title>

	<% include ../common/head.ejs %>
</head>
<body class="public">
<% include ../common/gtm.ejs %>
<div id="wrapper">
	<header id="header">
		<div class="header-holder">
			<div class="logo">
				<a href="/" title="temptist home page"><img src="/static/images/logo.png" height="32" width="103" alt="temptist"></a>
			</div>
			<nav id="nav">
				<ul>
					<li><a href="/tour" title="Watch a short video that shows you what you can do on temptist">Take a tour</a></li>
					<li><a href="/about" title="Discover the temptist story">About</a></li>
					<li><a href="/contact" title="Contact the temptist team">Contact us</a></li>
				</ul>
				<a href="/tour" title="Watch a short video that shows you what you can do on temptist" class="btn-help tour">Take a tour</a>
				<a href="/login" title="Login to your temptist" class="btn-help login">Login</a>
			</nav>
		</div>

	</header>