<% include header %>

<main role="main" id="main">
	<div class="main-holder sort-block">
		
		<div class="item-holder" id="container">
			Someone elses

			<% if(temptist) {  %>
			
			<% include ../common/temptist %>
			
			<% } else { %>
			<p>Thank you for signing up! Let's create your temptist.</p>
			
			<a href="/add">I know what I want and am ready to start</a>
			
			<a href="/question">My mind's gone blank &mdash; help my pick some products</a>
			
			<% include ../common/temptist %>
			<% } %>
			
		</div>
	</div>
</main>

<% include footer %>