		<div class="content-holder">
			<div class="splash-content">
				<div class="content-wrap">
					<p><strong>temptist</strong> is where wish lists get social.  Save all the things you want to buy online in one place, share them with friends and find brilliant new things to tempt you, as curated by our guest editors and other users who like what you like.</p>
				</div>
				<img src="/static/images/img28.png" height="421" width="329" alt="image description" class="img">
			</div>
			<div class="custom-box">
				<div class="text-wrap">
					<i class="icon-box"></i>
					<h2>Build &amp; Share a Temptist</h2>
					<p>Quickly convert all the tempting things you find online into your very own pictorial wish list which you, your friends and family can peruse and shop from.  We like to call this your “Temptist” (because “Tempt List” is too much of a mouthful).</p>
				</div>
			</div>
			<div class="custom-box green">
				<div class="text-wrap">
					<i class="icon-star01"></i>
					<h2>All your wishes in one place...</h2>
					<p>temptist is an independent site that allows you to add anything you want from any brand or online store.  No need to maintain multiple wish and gift lists on different retailers’ websites. Put everything you want on your Temptist, tag items with key descriptors and maintain and sort different lists for different purposes.</p>
				</div>
			</div>
			<div class="article-box">
				<div class="article-holder">
					<article class="article-box">
						<i class="icon-light"></i>
						<h2>Be Tempted...</h2>
						<p>Find inspiration by browsing friends’ Temptists, the Temptists of our guest editors and our very own Tempting Items - a feed of what is hot on temptist right now.</p>
					</article>
					<article class="article-box">
						<i class="icon-bell"></i>
						<h2>Be Social...</h2>
						<p>Share with friends and family all the brilliant things you find online that you know they can’t (or shouldn’t!) live without.</p>
					</article>
					<article class="article-box">
						<i class="icon-aim"></i>
						<h2>Be Co-ordinated</h2>
						<p>Decorating your house or putting together the perfect outfit?  Use tags when adding items and bring it all together visually in your Temptist using our sorting and filtering tools.</p>
					</article>
					<article class="article-box">
						<i class="icon-mic"></i>
						<h2>Be (pleasantly) Surprised...</h2>
						<p>Share your Temptist or Drop a Hint about an item you really want, particularly before birthdays, holidays ... any special occasion. Get the gifts you really want, not the well intentioned things you don't.</p>
					</article>
					<article class="article-box">
						<i class="icon-cake01"></i>
						<h2>Be Good To Yourself...</h2>
						<p>You should, of course, occasionally (or often!) treat yourself!</p>
					</article>
					<article class="article-box">
						<i class="icon-heart01"></i>
						<h2>Be Generous...</h2>
						<p>Get that hard to buy for friend or family member to set up a Temptist and take the guesswork out of shopping for presents.</p>
					</article>
				</div>
				<div class="img-holder">
					<img class="hidden-lg-tablet" src="/static/images/img29.png" height="559" width="331" alt="image description">
					<img class="hidden-desktop hidden-mobile" src="/static/images/img29-small.png" height="557" width="251" alt="image description">
					<img class="hidden-tablet" src="/static/images/img31.png" height="520" width="298" alt="image description">
				</div>
			</div>
			<% include ../common/mail %>
		</div>