		<div class="register-holder homepage">
			<div class="heading">
				<h1>temptist</h1>
				<h2>where wish lists get social ...</h2>
				<form action="/signup" method="GET">
				<div class="btn-holder">
					<button class="btn-share" type="submit">Join now</button>
				</div>
				</form>
				<span class="text">or <a href="/login" title="Login to your temptist">Login</a> if you already have an account</span>
			</div>
		</div>