<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>temptist</title>

	<% include ../common/head.ejs %>
    <script>
	$(function() {
		
	});
	</script>
</head>
<body class="home">
<% include ../common/gtm.ejs %>
<div id="wrapper">
	<header id="header">
		<div class="bg-stretch">
			<img src="/static/images/header-bg.jpg" height="1050" width="1600">
		</div>
		<div class="header-holder">
			<nav id="nav">
				<ul>
					<li><a href="/tour" title="Watch a short video that shows you what you can do on temptist">Take a tour</a></li>
					<li><a href="/about" title="Discover the temptist story">About</a></li>
					<li><a href="/contact" title="Contact the temptist team">Contact us</a></li>
				</ul>
				<a href="/tour" title="Watch a short video that shows you what you can do on temptist" class="btn-help tour">Take a tour</a>
				<a href="/login" title="Login to your temptist" class="btn-help login">Login</a>
			</nav>
		</div>
		<% include index-masthead.ejs %>
	</header>

	<main role="main" id="main">
		<div class="content-holder">
			<% include ../common/splash.ejs %>
			<% include ../common/mail.ejs %>
		</div>
	</main>

<% include footer %>