<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
              <title>temptist - where wish lists get social</title>
          <meta content="temptist - " property="og:title">
          <meta content="Be one of the first to know when we launch." property="og:description">
          <meta content='http://www.temptist.com' property='og:url'>
          <meta content='https://d2zc23renulrga.cloudfront.net/assets/37615/t2pltatrtf9t9oatew4t/logo and slogan-in-white-with-empty-space-above-it.png' property='og:image'>
          <meta content="Be one of the first to know when we launch." name="description">
          <link href="http://www.temptist.com" rel="canonical">
          <meta content="website" property="og:type">
          <link rel='icon' type='image/vnd.microsoft.icon' href='//s3.amazonaws.com/static.kickoffpages.com/images/icons/public_sites_favicon.ico'>
                      <style>
              img.fr-fir{float:right;}
              img.fr-fil{float:left;}
            </style>



	<link href='//fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>


	<meta content="website" property="og:type">
	<meta name='viewport' content='width=device-width, initial-scale=.75, maximum-scale=1' />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script src="//d1y0v6ricksqp.cloudfront.net/js/jquery-libs/zclip/jquery.zclip.min.js"></script>

	<!--[if lt IE 9>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.css" rel="stylesheet">
		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

<style>

  /* Default Styles
  ------------------------------------------------------------------------*/
  h1, h2, h3, h4, h5, h6{ 
    font-weight: normal; 
    line-height: 120%;
    margin: 0 0 10px; 
    font-family: 'Open Sans' , Helvetica, Arial, sans-serif; font-weight: 300;
  }

  a{
    text-decoration: none;
    color:#b83939
  }
  a:hover{
    text-decoration: none;
  }

  /* General Styles
  ------------------------------------------------------------------------*/
  body{
    min-width:320px;
    background:#222222;
    font-family: 'Open Sans' , Helvetica, Arial, sans-serif; font-weight: 400;
  }

  
    
  

  #background-stretch { 
    left: 0px;
    top: 0px;
    position: fixed;
    overflow: hidden;
    z-index: -999999;
    margin: 0px;
    padding: 0px;
    height:100%;
    width:100%;
  }

  #background_image { 
    position: fixed; 
    top: 0;
    left: 0;
    display:none;
    image-rendering: optimizeQuality; /* Gecko */
    -ms-interpolation-mode: bicubic; /* IE */
  }

  .bgwidth { width: 100%; }
  .bgheight { height: 100%; }

  .site_body{
    color:#333333;
  }

  *, *:before, *:after {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -ms-box-sizing: border-box;
	  -o-box-sizing: border-box;
	  box-sizing: border-box;
  }

  /* LAYOUT
  ------------------------------------------------------------------------*/
  #maincontent{
    min-width:320px;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    z-index: 50;
  }

  .container{
    position:relative;  
    text-align:center;
    border-radius:2px;
    padding:20px;
    width:550px;
    margin:70px auto; 
    background-color:#192434;
    -webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.4), inset 0px 0px 85px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 8px 20px rgba(0,0,0,0.4), inset 0px 0px 85px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 8px 20px rgba(0,0,0,0.4), inset 0px 0px 85px rgba(0,0,0,0.1);
    -o-box-shadow: 0 8px 20px rgba(0,0,0,0.4), inset 0px 0px 85px rgba(0,0,0,0.1);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4), inset 0px 0px 85px rgba(0,0,0,0.1);
  }

  
    .container {
                /* Fallback for older browsers */
          background: #192434;
          background: rgba(25, 36, 52,0.9 ) ;   
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90.0)";  

    }
  

  .wide_wrapper{
    width:100%;
    margin-left:auto;
    margin-right:auto;
  }     

  img.scale-with-grid { 
    max-width: 100%;
    height: auto; 
  }

  .container.Left{margin-left:35px;}
  .container.Right{margin-right:25px;}
  .center{text-align:center;}
  .relative{position: relative;}
  .left{float:left;}
  .right{float:left;}
  .spacer{height: 20px;}
  .clear{clear:both;}

  /* HEADER
  ------------------------------------------------------------------------*/       
  #header{
    background-image:url('//d1y0v6ricksqp.cloudfront.net/themes/avenir/bg-header.png');
    background-position: 0 100%; 
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom:30px;
  }

  /* LOGO */

  .logo{
	  margin:0 0 5px;
	  font-family: 'Open Sans' , Helvetica, Arial, sans-serif; font-weight: 400;
	  font-size: 60px;
	  text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	  display:block;
    height:100%;
    color: #a12a2a;
  }


  .title{
    font-size:18px;
    font-family: 'Open Sans' , Helvetica, Arial, sans-serif; font-weight: 400;
  } 

  /* CONTENT
  ------------------------------------------------------------------------*/

  #content{
  	position: relative;
    margin-bottom: 30px;
		padding: 15px 30px;
		z-index: 1;
	}

	#content:before {
		content: "";
		position: absolute;
		left: 0;
		top: 100%;
    width: 100%;
    height: 20px;
	  background-image:url('//d1y0v6ricksqp.cloudfront.net/themes/avenir/bg-header.png');
		background-position: 0 100%;
		background-size: 100%;
		background-repeat: no-repeat;
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    z-index: -1;
	}

  #content .box-info h2{
    margin:0 0 18px;
  }

  /* DESC */
  #description{
    margin-bottom:15px;
  }  


  #description p, {
    font-size:16px;
    margin-bottom:10px;
  }

/* SIGNUP FORM
------------------------------------------------------------------------*/


  .signup_form .inputs{
    width: 65%;
    margin: 0px;
    padding:10px;
    height:40px;
    float:left;
    margin-bottom:15px;
    background: white;
    font-family:'Helvetica';
    font-size:16px;
    border:1px solid rgba(0,0,0,.15);
    border-radius: 2px;
    outline: none;
  }

  .signup_form .inputs:not(select), .checkbox .box{
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    -ms-box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    -o-box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
	}

  .signup_form select.inputs{
    line-height:28px;
    padding:0;
    padding-left:10px;
  }

  .signup_form .txt{
    border-radius: 3px 0px 0px 3px;
    border-right:none;
    font-size:18px;
  }

  .signup_form textarea{
    height:auto;
    line-height: 19px;
    min-height:80px;
  }

  .signup_form label.checkbox{
    padding-top: 10px;
    margin-bottom:10px;
    text-align:left;
    display: inline-block;
    width:100%;
  }

  .signup_form .inputs, .signup_form .inputs:focus{
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
  }

/* MULTIPLE INPUT FORM STYLES 
------------------------------------------------------------------------*/

  .signup_form .row{
    width:100%;
    margin: auto;
    text-align:left;
  }
  
  .row .button{
    width:34%;
    float:left;
    height:40px;
  }

  .row .control-label{
    padding:10px;
    padding-left:0px;
  }


  .row.multiple{
    height:auto;
    max-width: 500px;
  }

  .row.multiple .button{
    float:none;
    width:100%;
  }
  
  .row.multiple .controls{
    margin-top:5px;
  }

  .signup_form .multiple .button{
    height:50px;
    margin-top:20px;
    border-radius:2px;
  }
  
  .signup_form .multiple .inputs{
    float:none; 
    width:100%;
  }

  .button,
  .button:active,
  .button.active {
    height:100%;
		padding: 0;
    border-radius: 1px 3px 3px 1px;
		border: 1px solid rgba(0,0,0,.02);
		border-top: none;
    font-size:20px;
    color: #FEFEFE;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.2);
    background-color: #e0180d;
    
          background: -o-linear-gradient( #e0180d,#ad0000) !important;
          background: linear-gradient( #e0180d,#ad0000) !important;
          background: -moz-linear-gradient(top,  #e0180d,#ad0000);
          background: -webkit-gradient(linear, left top, left bottom, from(#e0180d ), to(#ad0000)) !important;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1e0180d, endColorstr=#1ad0000)!important;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1e0180d, endColorstr=#1ad0000)"!important;


    -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,.3), 0 1px 3px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 0 5px rgba(255,255,255,.3), 0 1px 3px rgba(0,0,0,.15);
    -ms-box-shadow: inset 0 0 5px rgba(255,255,255,.3), 0 1px 3px rgba(0,0,0,.15);
    -o-box-shadow: inset 0 0 5px rgba(255,255,255,.3), 0 1px 3px rgba(0,0,0,.15);
    box-shadow: inset 0 0 5px rgba(255,255,255,.3), 0 1px 3px rgba(0,0,0,.15);
    cursor: pointer;
    outline: none;
  }

  .signup_form .button:hover{
  	border-color: rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,.5), inset 0px 0px 0px 100px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 0 5px rgba(255,255,255,.5), inset 0px 0px 0px 100px rgba(0,0,0,0.05);
    -ms-box-shadow: inset 0 0 5px rgba(255,255,255,.5), inset 0px 0px 0px 100px rgba(0,0,0,0.05);
    -o-box-shadow: inset 0 0 5px rgba(255,255,255,.5), inset 0px 0px 0px 100px rgba(0,0,0,0.05);
    box-shadow: inset 0 0 5px rgba(255,255,255,.5), inset 0px 0px 0px 100px rgba(0,0,0,0.05);
    text-shadow: 0px -1px 1px rgba(0,0,0,0.2);
  }  

  /* CHECKBOX STYLES */
  .checkbox {
	  display: block;
	  position: relative;
	  margin-bottom: 10px;
	  padding: 0;
    height:28px;
  }

  .checkbox input {
	  display: none;
	  width: auto;
	  margin:5px;
  }

  .checkbox .box {
	  display: inline-block;
	  position: relative;
	  width: 24px;
	  height: 24px;
	  margin-right: 4px;
	  background: #FFF;
	  border: 1px solid rgba(0,0,0,.15);
	  border-radius: 2px;
	  vertical-align: bottom;
  }

  .checkbox .box:after {
	  opacity: 0;
	  content: '';
	  position: absolute;
	  width: 16px;
	  height: 10px;
	  background: transparent;
	  top: 5px;
	  left: 3px;
	  border: 5px solid #e0180d;
	  border-top: none;
	  border-right: none;
	  behavior:url(-ms-transform.htc); /* Firefox */
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	  transform: rotate(-45deg);
  }

  .checkbox input[type=checkbox]:checked + label .box {
	  border-color: rgba(0,0,0,.15);
  }

  .checkbox input[type=checkbox]:checked + label:hover .box {
	  border-color: rgba(0,0,0,.25);
  }

  .checkbox label {
	  cursor: pointer;
  }

  .checkbox label:hover .box:after {
	  opacity: 0.4;
	  filter:alpha(opacity=40)
  }

  .checkbox input[type=checkbox]:checked + label .box:after {
	  opacity: 1;
  }


  /* Response
  ------------------------------------------------------------------------*/
  #kol_fade { 
    opacity: .60;
    display: none; /*--hidden by default--*/
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    background: #000;
    z-index:9999;
  }

  #kol_thank_you{
    position:relative;
    margin-top: 20px; padding: 20px 10px;
    text-align:center; font-size:16px;
    border-radius: 2px; border: 2px solid #e0180d;
    background-color:#192434;
    -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.2); 
    -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);   
    z-index: 99998;  
  }


  .kol_social_url {
    position: relative;
    cursor: pointer;
    max-width: 300px;
    margin: auto;
    padding: 3px;
    border-radius: 2px;
    border: 1px dashed #999999;
    background: white;
  }

  /* Copy social URL */
  #subscribe .social_url_box{
    margin: 0;
  }

  #subscribe .kol_social_url:hover {
    background: rgba(0,0,0,.05);
  }

  #subscribe .kol_social_url:hover .social_url_box {
    color:#e0180d;
  }

  #subscribe .kol_social_url:active {
    background: rgba(0,0,0,.1);
  }

  #subscribe .kol_social_url:active .social_url_box {
    color:#ad0000;
  }

  /* SHARE SPEECH BUBBLE */
  .tooltip{
    visibility: hidden;
    position: absolute;
    top: -36px;
    left: 0;
    right: 0;
    width: 50px;
    height: 26px;
    margin: auto;
    border-radius: 3px;
    background-color: #888;
    line-height: 25px;
    color: #FFF;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
  }

  .tooltip:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 21px;
    height: 10px;
    width: 10px;
    background-color: #888;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
  }

  .kol_social_url:hover .tooltip {visibility: visible;}

  .disabled {
    background: #FFF !important;
    cursor: text;
  }

  .disabled .tooltip {
    display: none;
  }

  .disabled .social_url_box {
    color: #AAA !important;
  }


  /* Share Icons */
  .share_links {
    height: 33px;
    margin: 20px 0 10px;
  }

  .share_links a {
    margin: 0 2px;
    color: transparent;
  }

  #subscribe {
    text-align: center;
  }

  /* Thank You Content */
  #subscribe strong, #subscribe h1, #subscribe h2 {
    display: block;
    margin-bottom: 15px;
    line-height: 130%;
    color: #a12a2a;
  }

  #subscribe strong {
    font-size: 24px;
  }

  #subscribe a:hover {
    color: #6e0000;
  }

  .share_button img {
    opacity: .75;
  }

  .share_button img:hover {
    opacity: 1;
  }

  /* SHARE SPEECH BUBBLE */
  .share_text{
    display: inline-block;
    position: relative;
    text-align: center;
    height: 32px; bottom: 10px; left: -10px; padding:5px 7px;
    border: 2px solid rgba(0,0,0,.3); border-radius:3px;
    background-color: #192434;
  }

  .share_text:before{
    content: '';
    position: absolute;
    right: -7px; top: 9px;
    height: 10px; width: 10px;
    background-color:#192434;
    border-right: 2px solid rgba(0,0,0,.3);
    border-bottom: 2px solid rgba(0,0,0,.3);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }


/* FOOTER
------------------------------------------------------------------------*/
  
  #footer {
    font-size:12px;
    letter-spacing:1px;
    margin-top:15px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  #footer p {
    margin:0px;
  }

 #copyright{
    float:left;
    font-size:16px;
  }

  .social_links {
    float: right;
  }

  /* SOCIAL ICON */
  .social_links a {
    z-index: 0;
    display:inline-block; 
    overflow:hidden;
    position:relative;
    width:30px; height:30px;
    padding-top: 1px;
    border-radius:50%; 
    font-size:17px; color:#fff; 
    line-height:160%;
    background-color: rgba(0,0,0,.15);
    -webkit-box-shadow: inset 0px 1px 0 25px rgba(0,0,0,0.04), inset 0 1px rgba(0,0,0,0.15), 0 1px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0px 1px 0 25px rgba(0,0,0,0.04), inset 0 1px rgba(0,0,0,0.15), 0 1px rgba(255,255,255,0.3);
    -ms-box-shadow: inset 0px 1px 0 25px rgba(0,0,0,0.04), inset 0 1px rgba(0,0,0,0.15), 0 1px rgba(255,255,255,0.3);
    -o-box-shadow: inset 0px 1px 0 25px rgba(0,0,0,0.04), inset 0 1px rgba(0,0,0,0.15), 0 1px rgba(255,255,255,0.3);
    box-shadow: inset 0px 1px 0 25px rgba(0,0,0,0.04), inset 0 1px rgba(0,0,0,0.15), 0 1px rgba(255,255,255,0.3);
  }

  .social_links i{
    text-shadow: 0px 1px rgba(0,0,0,0.2);
  }
  
  /* SOCIAL ICONS HOVER FX */
  .colorslide{
    position:absolute;
    top:0%; left: 0;
    width:100%; height:100%;
  }

  .colorslide{ 
    top:100%;
    z-index: -1;
  }

  .social_links a:hover .colorslide{
    top:0; 
  }

   .colorslide, .social_links a:hover .colorslide {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }

    .social_links .facebook .colorslide { background-color:#3b5998 }
    .social_links .twitter .colorslide { background-color:#00aced }
    .social_links .googleplus .colorslide { background-color:#dd4b39 }
    .social_links .linkedin .colorslide { background-color:#007bb6 }
    .social_links .pinterest .colorslide { background-color:#cb2027 }
    .social_links .youtube .colorslide { background-color:#bb0000 }
    .social_links .rss .colorslide { background-color:#fa9b39 }
    .social_links .email .colorslide { background-color:#FDEC93}


/* RESPONSIVENESS
------------------------------------------------------------------------*/

  @media(max-width: 979px){
    .container{padding:20px 35px;}
  }

  @media (max-width: 767px) {
	  .container{
	    width:460px;
	    padding: 20px;
	  }
	  .signup_form .row {height: 48px;}
	  .signup_form .row.multiple {max-width: 300px;}
	  #content{padding-bottom:30px;}

	  .button, .button:active, .button.active {font-size: 18px;}
	  .signup_form .multiple .button{width: 100%; font-size: 20px;}
	  .row .controls {width:100%}
  }

  @media(max-width:480px) {

    #background-stretch{
      display:none;
    }
    .control-label{display:none;}

    .container{
      width:100%;
      margin:0px;
      padding:0px 5px;
      border-radius: 0;
      -webkit-box-shadow:inset 0px 0px 65px rgba(0,0,0,0.15), 0px 0px 10px rgba(255,255,255,0.15);
      -moz-box-shadow:inset 0px 0px 65px rgba(0,0,0,0.15), 0px 0px 10px rgba(255,255,255,0.15);
      -ms-box-shadow:inset 0px 0px 65px rgba(0,0,0,0.15), 0px 0px 10px rgba(255,255,255,0.15);
      -o-box-shadow:inset 0px 0px 65px rgba(0,0,0,0.15), 0px 0px 10px rgba(255,255,255,0.15);
      box-shadow:inset 0px 0px 65px rgba(0,0,0,0.15), 0px 0px 10px rgba(255,255,255,0.15);
    }

    .signup_form .row {max-width: 300px;}
    #copyright{padding: 5px;}
    .social_links, #copyright{
      float:none;
      display:block;
    }
    .social_links a {margin: 0 1px;}
    .signup_form .txt {
      width:100%; height:90%;
      font-size:16px;
      border-radius: 2px;
      border: 1px solid rgba(0,0,0,.15);
      margin-bottom: 10px;
    } 
    .signup_form .button{
      width:100%; height: 90%;
      border-radius: 2px;
      font-size: 16px;
    }

    .share_text{
      display:none;
    }

    #footer{
      margin-top: 10px;
      padding-bottom: 30px;
    }

    #footer .social_links {margin-top: 10px;}

    .social_links a {
      width: 40px;
      height: 40px;
      padding-top: 3px;
      font-size: 22px;
    }

  }

</style>


</head>
<body>
<% include ../common/gtm.ejs %>


<!-- CONTENT -->
<div id="maincontent">
  <div class="site_body">
    <div class="container Center">
      <div class="wide_wrapper" id="header">
        <!-- HORIZONTAL BREAK -->
        <div class="linebreak"></div>
        <div id="logo_tagline">

          <!-- HEADER-->
          <div id="name_or_logo">
            
            <h1 class="logo center">
                <img data-mercury="kickimage" data-content-name="logo_image" src="https://d2zc23renulrga.cloudfront.net/assets/37615/t2pltatrtf9t9oatew4t/logo and slogan-in-white-with-empty-space-above-it.png" alt="temptist" class="logo_img scale-with-grid" /> 
            </h1>
            
            </div>

            <!-- TAGLINE -->
            
              <div class="title" data-mercury="wysihat" data-content-name="tagline"><h2><br></h2></div>
            
        </div>
      </div>

      <div class="wide_wrapper" id="content">
        <!-- DESCRIPTION -->
        <div id="description" data-mercury="wysihat" data-content-name="description">
          
          <span style="font-size: 18px;"><i><font color="#ffffff">
          <%= locals.thanks ? 'Thanks for signing up!' : 'Be one of the first to know when we launch.' %>
          </font></i></span>
        </div> 

        <!-- FORM -->
        <div id="form">
                    <form data-page-id="35754" accept-charset="UTF-8" class="signup_form" data-remote="true" id="signup_form" method="post">
          
              <div class="row">
                <input class="txt inputs required" id="email" name="email" placeholder="Type your email address here" type="email" data-label-text="Email" />
                <input class="submit button" id="submit_button" name="submit" type="submit" value="Alert me" />
              </div>
            
          <div class="clear"></div>
          
            <div style="margin:0;padding:0;display:inline">
              <input type="hidden" id="__page_id" name="__page_id" value="35754">
              <input type="hidden" id="__version" name="__version" value="373542">
              <input type="hidden" id="__xuid" name="__xuid" value="37615">
            </div>
          </form>


          <div class="clear"></div>
          <div id="kol_fade"></div>
        </div>
    
      <!-- HORIZONTAL BREAK -->
      <div class="linebreak"></div>
    </div>
    <div class="clear"></div>

    <!-- FOOTER -->
    <div class="wide_wrapper" id="footer">
      <p class="right" id="copyright"> <span  data-mercury="wysihat" data-content-name="copyright">© 2014</span>
         <a id="privacy_link" href="http://www.temptist.com/privacy">   </a> 
       </p>
      <p class="social_links">
        
      </p>
      <div class="clear"></div>
    </div>
  </div>
</div>

<script src="//d1y0v6ricksqp.cloudfront.net/js/jquery-libs/backstretch/2.0.3/jquery.backstretch.min.js"></script>

<script>
  jQuery(document).ready(function(){
    $.backstretch("https://d2zc23renulrga.cloudfront.net/assets/37615/1k3qin81q43ggtke73wh/coming-soon.png");

  });
  </script>

            <script> 
              function getParameterByName(name){
                        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
                        var regexS = "[\\?&]" + name + "=([^&#]*)";
                        var regex = new RegExp(regexS);
                        var results = regex.exec(window.location.search);
                        if(results == null)
                          return "";
                        else
                          return decodeURIComponent(results[1].replace(/\+/g, " "));
                      }

                    $(document).ready(function(){
                        var email = getParameterByName('_email');
                        if (email != ""){
                            $('#email').val(email);
                            if ($('.required').length < 2)
                              {$('#signup_form').submit();}
                        }
                      });
              
             </script>








</body>

</html>
