	<div class="register-holder">
		<div class="heading">
			<h1>Log in to temptist</h1>
		</div>

	<form action="/login" method="post" class="login-form validate-form <%= (message.length > 0 ? 'error-form' : '') %>">
						<div class="fb-box">
							<a href="/auth/facebook" class="btn-fb">
								<span class="ico-holder">
									<i class="icon-facebook"></i>
								</span>
								<span class="text">LOGIN WITH FACEBOOK</span>
							</a>
						</div>
						<div class="login-box">
							<div class="error-message">
							<% if (message.length > 0) { %>
								<%= message %>
							<% } else { %>
							Please provide the missing information to continue.
							<% } %>
							</div>
							<div class="valid-row">
								<div class="input-holder">
									<div class="input-wrap">
										<input name="email" id="email" class="input-control required-email" type="email" value="" placeholder="Your email address">
									</div>
								</div>
								<div class="error-text"><span class="icon-red_arrow"></span><span>Please enter your email</span></div>
							</div>
							<div class="valid-row">
								<div class="input-holder">
									<div class="input-wrap">
										<input name="password" id="password" class="input-control required" type="password" value="" placeholder="Your password">
									</div>
								</div>
								<div class="error-text"><span class="icon-red_arrow"></span><span>Please enter your password</span></div>
							</div>
							<div class="remember-box valid-row">
								<span class="label-text">Remember me?</span>
								<ul class="radio-list">
									<li>
										<label>
											<input type="checkbox" name="remember_me" value="yes"><span class="fake-input"></span> <span class="label"></span>
										</label>
									</li>
								</ul>
							</div>
							<div class="btn-holder">
								<button type="submit" class="btn-share">LOGIN</button>
							</div>
							<p class="forgot-pw"><a href="/forgot-password">Forgotten password?</a></p>
						</div>
						<div class="footing">
							<p>Or <a href="/signup">create an account</a> if you don't have one.</p>
						</div>
	</form>

	</div>