<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>temptist</title>

	<% include ../common/head.ejs %>
    <script>
	$(function() {
		$('.icon-eye').click(function() {
			var $i = $(this);
			var $p = $i.closest('form').find('input[name=password]');
			if($p.length > 0) {
				$p.attr('type', $p.attr('type') == 'password' ? 'text' : 'password');
			}			
		})
	});
	</script>
</head>
<body class="home">
<% include ../common/gtm.ejs %>
<div id="wrapper">
	<header id="header">
		<div class="bg-stretch">
			<img src="/static/images/header-bg.jpg" height="1050" width="1600">
		</div>
		<div class="header-holder">
			<div class="logo">
				<a href="/" title="temptist home page"><img src="/static/images/logo.png" height="32" width="103" alt="temptist"></a>
			</div>
			<nav id="nav">
				<ul>
					<li><a href="/tour" title="Watch a short video that shows you what you can do on temptist">Take a tour</a></li>
					<li><a href="/about" title="Discover the temptist story">About</a></li>
					<li><a href="/contact" title="Contact the temptist team">Contact us</a></li>
				</ul>
				<a href="/tour" title="Watch a short video that shows you what you can do on temptist" class="btn-help tour">Take a tour</a>
				<a href="/login" title="Login to your temptist" class="btn-help login">Login</a>
			</nav>
		</div>

	<div class="register-holder">
		<div class="heading">
			<h1>Reset your password</h1>
			<span class="text">Need some copy for this page.</span>
		</div>

		<form action="/reset-password/<%= token %>" method="post" class="validate-form">
			<div class="login-frame">
				<div class="login-box">
					<div class="error-message">
					</div>
					<div class="valid-row">
						<div class="input-holder">
							<span class="label-wrap"><label for="password">PASSWORD</label></span>
							<div class="input-wrap with-label">
								<span class="view-pass"><i class="icon-eye"></i></span>
								<input name="password" id="password" class="input-control required" type="password" value="Choose a new password">
							</div>
						</div>
						<div class="error-text"><span class="icon-red_arrow"></span><span>Please enter your password</span></div>
					</div>
					<div class="btn-holder">
						<button type="submit" class="btn-share">Save password</button>
					</div>
				</div>
			</div>
		</form>

	</div>

	</header>

	<main role="main" id="main">
			<br/><br/><br/>
	</main>

<% include footer %>