		<div class="register-holder">
			<div class="heading">
				<h1>Start managinq your Temptist now!</h1>
				<span class="text">It's free, easy &amp; <strong>takes only 30 seconds</strong>.</span>
			</div>
			<form action="/signup" method="POST" class="register-form validate-form <%= (message.length > 0 ? 'error-form' : '') %>">
				<fieldset>
					<div class="terms-row">
						<p>By signing-up you confirm that you agree to temptist's <a href="/legal" title="Terms and conditions, Privacy policy and Cookie policy governing the use of temptist.com">Terms &amp; Conditions</a>.</p>
					</div>
					<div class="form-box">
						<div class="fb-box">
							<span class="or-text">OR</span>
							<a href="/auth/facebook" class="btn-fb">
								<span class="ico-holder">
									<i class="icon-facebook"></i>
								</span>
								<span class="text">SIGN UP WITH FACEBOOK</span>
							</a>
						</div>
						<div class="input-box">
							<div class="error-message">
							<% if (message.length > 0) { %>
								<%= message %>
							<% } else { %>
							Please provide the missing information to continue.
							<% } %>
							</div>
							<div class="input-holder valid-row">
								<div class="input-wrap">
									<input name="name" class="input-control name required" type="text" value="Your name">
								</div>
								<div class="error-text"><span class="icon-red_arrow"></span><span>Please enter your name</span></div>
							</div>
							<div class="valid-row">
								<div class="input-holder">
									<span class="label-wrap"><label for="email">E-MAIL</label></span>
									<div class="input-wrap with-label">
										<input name="email" id="email" class="input-control required-email" type="email" value="Your email address">
									</div>
								</div>
								<div class="error-text"><span class="icon-red_arrow"></span><span>Please enter your email</span></div>
							</div>
							<div class="valid-row pwd">
								<div class="input-holder">
									<span class="label-wrap"><label for="password">PASSWORD</label></span>
									<div class="input-wrap with-label">
										<span class="view-pass"><i class="icon-eye"></i></span>
										<input name="password" id="password" class="input-control required" type="password" value="Choose a password">
									</div>
								</div>
								<div class="error-text"><span class="icon-red_arrow"></span><span>Please enter your password</span></div>
							</div>
							<div class="gender-box valid-row">
								<span class="label-text">Your gender</span>
								<ul class="radio-list required-radio">
									<li>
										<label>
											<input type="radio" name="gender" value="1"><span class="fake-input"></span> <span class="label">FEMALE</span>
										</label>
									</li>
									<li>
										<label>
											<input type="radio" name="gender" value="0"><span class="fake-input"></span> <span class="label">MALE</span>
										</label>
									</li>
								</ul>
								<div class="error-text"><span class="icon-red_arrow"></span><span>Please check your gender</span></div>
							</div>
							<div class="valid-row">
								<div class="input-holder autocomplete-wrap">
									<span class="label-wrap"><label for="country">COUNTRY</label></span>
									<div class="input-wrap with-label">
										<input name="country" rel="/static/inc/search.json" id="country" class="input-control autocomplete required" type="text" value="Your country">
									</div>
									<div class="autocomplete-drop">
										<div class="drop-box">
										</div>
									</div>
								</div>
								<div class="error-text"><span class="icon-red_arrow"></span><span>Please select your country</span></div>
							</div>
							<div class="btn-holder">
								<button type="submit" class="btn-share">SIGN UP</button>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<% if(locals.email) { %>
		<script>$(function() { $('input#email').val( '<%= locals.email %>') });</script>
		<% } %> 