<% include header %>

	<form action="/start" method="post">
		<div class="form-group">
			<label>Gender</label>
			<input type="text" class="form-control" name="gender">
		</div>
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" name="name">
		</div>
		<div class="form-group">
			<label>Country</label>
			<input type="text" class="form-control" name="country">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">I'm done</button>
	</form>

<% include footer %>