	<nav class="temptist-nav">
		<a href="/signup" class="btn-share btn-signup">SIGN UP TO TEMPTIST</a>
		<ul class="nav temptist">
			<li>
				<a href="/login">MY TEMPTIST</a>
			</li>
			<li class="active">
				<a href="/friends">MY FRIENDS’ TEMPTISTS</a>
			</li>
		</ul>
	</nav>