<% include header %>

	<main role="main" id="main">
		<div class="content-holder">
			<article>
		
				<h2>Thank you</h2>
				
				<p>You have been unsubscribed.</p>
				
			</article>
			
			<% include ../common/mail %>
			
		</div>
	</main>

<% include footer %>