<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>temptist</title>

	<% include ../common/head.ejs %>
</head>
<body class="home">
<% include ../common/gtm.ejs %>
<div id="wrapper">
	<header id="header">
		<div class="bg-stretch">
			<img src="/static/images/header-bg.jpg" height="1050" width="1600">
		</div>
		<div class="header-holder">
			<div class="logo">
				<a href="/" title="temptist home page"><img src="/static/images/logo.png" height="32" width="103" alt="temptist"></a>
			</div>
			<nav id="nav">
				<ul>
					<li><a href="/tour" title="Watch a short video that shows you what you can do on temptist">Take a tour</a></li>
					<li><a href="/about" title="Discover the temptist story">About</a></li>
					<li><a href="/contact" title="Contact the temptist team">Contact us</a></li>
				</ul>
				<a href="/tour" title="Watch a short video that shows you what you can do on temptist" class="btn-help tour">Take a tour</a>
				<a href="/login" title="Login to your temptist" class="btn-help login">Login</a>
			</nav>
		</div>
		<div class="register-holder">
			<div class="heading">
				<h1>You're now ready to start your Temptist.</h1>
				<span class="text">We've sent you an email with a link, so you can confirm your email address.</span>
				<span class="text sub">Check your spam filter if you can't find the email and <a href="/contact">contact us</a> if you still can't find it.</span>
			</div>
			<div class="form-holder">
				<a href="/events" class="btn-share"><span>CONTINUE TO YOUR TEMPTIST</span></a>
			</div>
		</div>
	</header>

	<main role="main" id="main">
			<br/><br/><br/>
	</main>

<% include footer %>